[2018-02-19 18:10] mattgrill opened #1 "Eject from CRA"
Can we `eject` from CRA and use the defaults it provides? I think long term we'll probably run into some configuration we need/want to change and that might be difficult.

I personally don't mind setting up and maintaining the build process, if thats something that is worrisome.

[2018-02-19 21:24] dawehner commented on #1
I'm curious whether we should wait till we need it?

[2018-02-21 08:46] ApacheEx commented on #1
Hi guys,
There is no way to back if you `eject`. I think it's better to wait till it's really needed.
CRA is already the best way to create a react based project.
As I know there will be a release of 2.0 (soon) which has many improvements and features (of course without any breaking changes).

[2018-02-21 17:12] mattgrill commented on #1
You can always copy your components to a new CRA project, and move from there. I'm sure that CRA is great if you just want to get started quickly, and don't have the time or the interest in setting up the build tools.

@dawehner I mean, no one has worked on this except for committing the CRA scaffolding, so why not now?

[2018-02-21 17:17] dawehner commented on #1
I have a branch for example

On Wed, 21 Feb 2018 at 17:12 Matthew Grill <notifications@github.com> wrote:

[2018-02-21 17:18] justafish commented on #1
I strongly agree that we shouldn't eject unless we absolutely have to. It's been really successful for me on long-term projects.

[2018-02-21 17:21] dawehner commented on #1
I had great experience with using CRA and shitty experience with trying to move back into a custom config. I fear we need to do custom stuff, but I kinda thing we should worry about that, when its time for it.

[2018-02-21 18:05] #1 closed

[2018-03-04 13:31] justafish opened #4 "Write a composer script that will insert the admin theme into Drupal"
The admin theme is available on packagist now: https://packagist.org/packages/justafish/drupal-admin-ui

The install command will need to create a symlink (or create a copy) from `vendor/justafish/drupal-admin-ui` to `vfancy`

[2018-03-04 13:54] dawehner commented on #4
Research so far:

* Packages can't have install hooks (probably security reasons)
* You can create custom installers though, see https://getcomposer.org/doc/articles/custom-installers.md#creating-an-installer
* Given that we would probably need a repo containing the custom installer command.
* You would need to add this custom installer composer plugin into the root dir of Drupal and then install

[2018-03-04 15:03] justafish opened #7 "Stub out the permissions page"
## API Endpoints Needed
- [list of permissions](https://www.drupal.org/project/drupal/issues/2947605)
- Roles and Permissions (config entities) are available from JSON API

We're already going to be on the same domain as Drupal, meaning we can use Cookie authentication, so we can use the browser's fetch API directly for this.

## Components Needed
- [Table (with sticky header)](https://github.com/

[2018-03-04 15:48] justafish commented on #7
Should we start importing the components into this repo so it's all in one place?

[2018-03-04 16:36] justafish commented on #4
There's a big discussion here: https://github.com/composer/composer/issues/1193

@alexpott, @dawehner and I worked on this and came up with https://www.drupal.org/project/drupal/issues/2949832

[2018-03-05 18:33] ryanaslett commented on #4
If Im understanding the patch in https://www.drupal.org/project/drupal/issues/2949832 correctly, its moving the file out of vendor and into the web folder so that it can be found at 'https://sitename/vfancy' ?

There exists a mechanism in composer to do this:
If we define a new `type` key, for example, 'drupal-js-ui', and define a folder they can go into, then we can submit a PR to composer/Instal

[2018-03-09 14:48] mglaman commented on #4
What if the app assumed they followed composer flow where vendor is outside of docroot? So it'd be

* docroot / web
* vendor
* jsdrupal/vfancy

Two docroot, then?

[2018-03-09 16:06] ryanaslett commented on #4
If they're modifying where doc root is, then they're also modifying the composer installers locations, much like the drupal-project already does: https://github.com/drupal-composer/drupal-project/blob/8.x/composer.json#L59

alexpott built this: https://github.com/jsdrupal/test-project  using the oomphinc/composer-installers-extender which defines where drupal-admin-ui gets installed to.

[2018-03-13 00:10] dawehner opened #11 "How to localize strings/numbers/pluralize strings etc."
Drupal worked a lot throughout the years to get a good localization support in PHP.
For example we do support pluralized strings properly: Every language has potential a different concept of pluralization (1, 2, 5, 10 for example).

Let's discuss in this issue which features we need and how to not move ourself into an edge case

## Features we need | keep in our head

* String localization
* Do we

[2018-03-13 17:55] dawehner opened #12 "What information do we need from Drupal for routing related things"
* Which Drupal paths are overridden by the app?
* Where are components exposed by routes in Drupal modules, so we can allow modules to expose custom routes?
* How do we communicate to the app which routes a user has access to?
* How do we communicate available items in a menu tree?
* Will we continue to have something like local tasks/local actions?

[2018-03-13 17:58] webchick opened #13 "Do we (and to what extent) support aspects of the Drupal Form API, such as form alters"
One of the larger questions around how this app will interface with Drupal is deciding what features of Drupal we will support.

One of the major features of Drupal that people love is its extensibility. An example of this is Form API, which through mechanisms such as hook_form_alter(), let you make per-module, or site-specific decisions about how another module's forms look and act. (Hiding a fie

[2018-03-13 18:00] webchick opened #14 "Do we (and to what extent) support themeable output"
In Drupal, there is support for overriding markup / CSS coming from a theme, and/or massaging data prior to it being output, on a pretty granular basis (only for these content types, etc.).

We need to figure out if, and if so how, we support this concept from the React application.

[2018-03-13 18:03] webchick opened #15 "Do we (and to what extent) support dynamic content generated by e.g. views"
If we're planning to handle the admin experience of Drupal, one of the big parts of the admin experience is content listings. For example, admin/people, admin/content, etc.

We did a lot of work in Drupal 8 to ensure all of these things are Views, and can be customized by the site builder without any development.

I don't *think* we want to lose one of the hugest benefits of Drupal (Views) during

[2018-03-13 18:21] webchick opened #16 "(upstream) JSON API in core"
Proposed idea: https://www.drupal.org/project/ideas/issues/2836165
Pre-requisites: https://www.drupal.org/project/jsonapi/issues/2931785
Core issue: https://www.drupal.org/project/drupal/issues/2843147

[2018-03-13 19:11] dawehner commented on #14
I hope we avoid the complexity of making the admin UI themable. I mean its not impossible at all, both @drpal and myself did experiments. Avoiding another layer of complexity though, at least for me, would help to build a good experience.

[2018-03-13 19:18] dawehner commented on #13
I think there are two aspects involved here:

* Replace a page with another page: This is IMHO something we should support
* Alter an existing page and adding new items. This the the tricky case

For me a basic problem is: JS* is so nice to use, because it doesn't have all the layers we have in Drupal (form api, render api, etc.). When we introduce them back, we loose the benefit again.

[2018-03-13 21:04] justafish opened #17 "Component Library"
- [ ] Upload widget

[2018-03-13 23:09] dawehner commented on #17
It would be nice to have things you could give a entity + a fieldname or so and it fetches its data out as needed.

[2018-03-14 22:11] tedbow opened #18 "Should API responses from support module include HTML in label, descriptions, etc"
Working on https://github.com/jsdrupal/drupal-admin-ui-support/pull/1 @dawehner @mattgrill and I were dicussing whether the permissions titles and descriptions should have the HTML stripped out on the server-side.

One thing to keep in mind is that eventually we would want core itself to provide these endpoints. So should make them now as they would likely be added to core?

[2018-03-14 22:11] dawehner opened #19 "Merge the support module into this repository"
Having mulltiple repositories can be annyoing, especially when they need to be kept in sync.

Idea:

* Move https://github.com/jsdrupal/drupal-admin-ui-support into this repository
* Adapt https://github.com/jsdrupal/test-project to automatically link the module to docroot/modules

[2018-03-14 22:13] dawehner commented on #18
For a generic endpoint I think having both would be nice. I totally understand that some usecases will not use the HTML, but for others it could be nice UI wise.

[2018-03-14 22:58] dawehner opened #21 "Add a favicon"
What about using the logo ◀️👋▶️ as favicon?

Tagged as novice task / help wanted

[2018-03-16 15:46] tedbow commented on #15
We have REST views exports but right now it does offer the kind of functionality one might expect from a site building experience. For instance it will the REST view will not export the labels that set in the Views UI.

We could include all those types of settings in the Views REST export but also you could a JSON API request on the Views config entity to get all this information. You won't have t

[2018-03-17 11:18] dawehner commented on #15
For me Views consists of two major usecases

* Someone wants to be able to filter data and then theme it as wished. This usecase can be mostly supported by JSONAPI. If you need the more advanced features of views filtering etc. REST export, just as described by @tedbow, gives you the power needed. ✔️
* Someone wants to control the output of these listings. They want to provide some tables for admi

[2018-03-20 10:04] gabesullice commented on #15
It's also worth pointing out that the benefit of a decoupled UI is "decoupling data from presentation" which is, unfortunately, exactly what Views ties together.

To try to replicate Views verbatim in the great React-ification of 2018 is simply "recoupling" the frontend right back to the backend. It's just moving the rendering layer to JavaScript, which misses out on many of the benefits of decoup

[2018-03-20 10:16] dawehner commented on #15
For me it comes down to two points:

* Historically things weren't good and using views improved the situation, for example by having proper support for multilingual. We'd need to think of the full end product, when we want to rebuild the content listing for example, which means: how do you handle moderation, translation etc. I'd argue that is actually a good thing, unless what we kinda say right

[2018-03-20 12:42] tedbow commented on #15
I agree there are good reasons not try to provide Views integration for admin listing pages as an MVP.

I was wondering about a couple of things that might put off the need for this type of integration.

1. React APP won't take over all admin pages which seems like it will be the case until at least Drupal 9 because of contrib admin pages, could we set up a way for individual developers or sitebui

[2018-03-20 16:26] justafish opened #26 "Setup CI tests for the embedded Drupal module"

[2018-03-20 17:10] wimleers commented on #15
Part of the motivation was "allow users to customize their listings". But also part of the customization was "less code to maintain, specifically wrt querying".

The customizability would initially be lost, yes, but the "less code/querying to maintain" bit would still be true when you decouple f.e. the content listing. The customizability could return at a later time. Also … isn't the complexity o

[2018-03-20 17:23] wimleers commented on #13
It's a two-edged sword. These alters on the one hand enable modules to extend functionality/UIs, and on the other hand cause massive pain. It's once again the whole "theme vs render layer" question.

If you allow the module developer or site builder the ability to alter output, the JS developer will be required to think of and do extra work to explicitly support all those extension points, and fig

[2018-03-20 19:27] justafish commented on #19
This has been merged in now. https://github.com/jsdrupal/drupal-admin-ui-demo/issues/2 is open to fix the setup issues over there.

[2018-03-20 19:27] #19 closed

[2018-03-20 19:28] justafish commented on #4
Closing this now we have https://github.com/jsdrupal/drupal-admin-ui-demo :+1:

[2018-03-20 19:28] #4 closed

[2018-03-20 20:21] dawehner commented on #15
The way how the current architecture works enables you to still fallback to routes provided by Drupal. I think we should totally keep this usecase around, given what Drupal already provides.

And I guess it is fine, as long we ensure that the JS listing is providing the much better user experience

[2018-03-20 21:23] dawehner commented on #26
I've started to work on that as part of https://github.com/jsdrupal/drupal-admin-ui/pull/28 but I'm a bit confused why the build command doesn't execute on CI right now.

[2018-03-21 09:33] dawehner commented on #13
This is really well put.

At least for know though the Admin UI has an easier life because, at least from my perspective, we don't need to support something like blocks and regions outside of some navigation element + the current controller.

One alternative way of dealing with this issue is to collect usecases. I'm pretty sure that by using core modules over time, usecases will come up. We could

[2018-03-22 09:40] justafish commented on #26
@dawehner this is fixed now 👍 https://packagist.org/packages/justafish/drupal-admin-ui-support

[2018-03-23 10:48] justafish commented on #15
and

I very much agree with these statements 👏

I'm wondering whether teaching someone how to edit a React file might end up being easier (and a more transferable skill) than teaching them the Views UI. I think it'd be good to implement a non-to-very-simple configurable content listing in React, allow it to be overridden by a custom React component, and then do some user testing/surveys to see how

[2018-03-23 10:54] justafish commented on #13
^ :+1:

Also given the vibe I'm feeling about Drupal right now e.g. from the Stack Overflow developer survey, comments on reddit, twitter etc - we might benefit from limiting our scope in the long-run. We're not forcing the current theme layer to go away with this initiative, but it might be that if you chose to use this admin theme over a classic one, then your options are more limited when it co

[2018-03-23 10:56] justafish commented on #21
YES

[2018-03-23 11:57] dawehner commented on #7
@all Do you consider this stub out to be successful?

[2018-03-23 13:32] tedbow commented on #7
@dawehner it is probably good for a stub.

It would be good if there was message that the permissions were saved but maybe we could do that in follow up?

[2018-03-23 13:34] tedbow opened #41 "Display message when the user save permissions."
Right now there is no indication of a successful save.

https://github.com/jsdrupal/drupal-admin-ui/issues/7

[2018-03-23 14:43] dawehner commented on #7
Yeah let's open follow ups.

[2018-03-23 14:43] dawehner opened #42 "Display the permission description and indicate admin restricted permissions"
Follow up of https://github.com/jsdrupal/drupal-admin-ui/issues/7#issuecomment-375665863

[2018-03-23 14:43] dawehner commented on #7
I opened up another follow for some other details.

[2018-03-23 14:44] mattgrill commented on #42
I will do this today.

[2018-03-23 14:44] dawehner commented on #42
+1

On Fri, 23 Mar 2018 at 14:44 Matthew Grill <notifications@github.com> wrote:

[2018-03-23 22:53] #42 closed

[2018-03-24 00:22] dawehner opened #46 "Add roles page to the UI"
The roles UI is currently just accessible when you know the UI.

- [ ] Adapt Default.enhanceMenuLinks to includes a link to roles

[2018-03-25 14:30] justafish opened #47 "Add an API wrapper"
Consolidate the fetch calls we have into a central place

[2018-03-25 22:24] larowlan commented on #13
My thoughts on this, #14 and #15 is that we should start small. This initiative has a very large scope already. I would argue that the focus should be on MVP and rapid iteration. I don't think answering these questions yet is required. My 2c

[2018-03-26 15:14] justafish opened #52 "Add nightwatch for functional testing"
This will be a separate set of tests from the ones that will be available in [Drupal core](https://www.drupal.org/project/drupal/issues/2869825), although it would be nice if the folder structure was the same so that core would also pick up these tests.

[2018-03-26 15:35] pixelmord commented on #11
A couple of thoughts on this:
- The string translation interface could benefit from a revamp where my most requested feature would be case insensitive search and search/filtering by context
- Also "on page" translation should be supported sort of the way "i10n_client" handles that
- And ideally we could expose components as libraries for the various frontend frameworks as drop-in solutions for mor

[2018-03-26 17:18] mattgrill opened #53 "Menu navigation is possibly broken and URL rewriting has unexpected results."
![navigation-issues](https://user-images.githubusercontent.com/1090713/37921561-036b7ef0-30df-11e8-876a-7481fa912138.gif)

[2018-03-26 17:19] dawehner opened #54 "Bring in the dblog page from https://github.com/jsdrupal/drupal-react-db-log"

[2018-03-26 18:13] dawehner commented on #11
Keep in mind. You won't have a normal Drupal environment here.
Drupal.t/Drupal.formatPlural won't just work

On Mon, 26 Mar 2018 at 18:59 Andreas Sahle <notifications@github.com> wrote:

[2018-03-26 18:25] pixelmord commented on #11
Ah my bad, I did not look closely at how the APP is rendered and thought we might have the Drupal JS available, so that complicates things there...
So if we want to benefit from Drupal translation we need to either build sth custom or hook up a lib like react-intl with a "backend", need to do some research on that

[2018-03-27 09:42] lauriii opened #56 "Prop type validation error on loading the menu tree"
Menu tree resource property `subtree` is an object when there are values, but an array when the list is empty. Currently, we are only expecting for an object type of values on this property.

[2018-03-27 09:52] dawehner commented on #56
Wow, that's pretty "nice" :) Given that these keys are mostly meaningless anyway I think adapting the normalizer on the PHP side isn't the worst idea.

[2018-03-27 13:11] tedbow commented on #53
Does this issue fix this https://github.com/jsdrupal/drupal-admin-ui/pull/55?

[2018-03-27 13:18] tedbow commented on #11
I think this would important. There will be a lot of strings such as "Access denied" that will need to be translated in both php server-side and client-side.

Could we make an API call at the beginning of the APP being load that sends a list of untranslated strings and expects back the translations in a given language?

[2018-03-27 13:39] dawehner commented on #53
Yes it is.

On Tue, 27 Mar 2018 at 14:11 Ted Bowman <notifications@github.com> wrote:

[2018-03-27 13:45] tedbow commented on #11
I don't know the reasons for the way Drupal does `Drupal.t()` but always wondered if would simplier to always use tokens of strings in the JS code like `Drupal.t('[ACCESS_DENIED]'). So this would pull from a list of translated strings.

Then it would be easy to send that list to be translated in a API call.

Could we do something like that?

[2018-03-27 13:50] dawehner commented on #11
Well, there is code in Drupal which scans existing JS files to know all translatable strings and then exposes all of them. If you look at https://github.com/yahoo/react-intl they all come with an ID and some default value. This way you can always translate / adapt the english string over time without having broken translations.

[2018-03-27 14:39] lauriii commented on #56
Fixed on #57

[2018-03-27 14:39] #56 closed

[2018-03-27 15:48] mattgrill commented on #53
Fixed!

[2018-03-27 15:48] #53 closed

[2018-03-27 15:55] lauriii commented on #18
I think for now it is fine if we have the HTML in the API responses. In many non-web contexts, it is still possible to render HTML. Also, if someone would need the response contents without HTML, they could always filter it out.

[2018-03-27 16:06] dawehner opened #58 "Generating simple admin forms automatically"
Drupal consists of a large amount of configuration pages. Writing react components for all of them (as we do in PHP) would be a lot of effort without much gain

As outlined on drupal.org autogenerating those forms would be a nice solution.
This issue is about discussing an approach to the problem. Implementation will be done on top of that.

It could require a couple of steps:

* Configuration sch

[2018-03-28 15:50] wimleers commented on #15
❤️ this! (But then again, I'm a developer, so I'm the worst person to ask.) At minimum, a very interesting thesis :)

[2018-03-28 15:50] wimleers commented on #13
@larowlan++ — if we want to solve this first, we'll never get anywhere.

[2018-03-28 16:00] dawehner commented on #13
To be fair this issue wasn't opened up to solve this problem before doing anything. The intention of the issue was to answer what we might want to have one day. Not talking about it at all, isn't the right solution either.

[2018-03-29 11:30] lauriii opened #62 "Menu items are loaded from API after every location change"
The menu items are being loaded from the Drupal API after every location change.
![screen shot 2018-03-29 at 18 11 03](https://user-images.githubusercontent.com/1845495/38086604-3725ee2c-337f-11e8-9822-3fe198198223.png)

[2018-03-29 12:24] justafish commented on #62
I was going to suggest wrapping `this.props.requestMenu();` in a check to see if `this.props.menuLinks` has data before calling it, however I'm curious why it's doing that as it shouldn't be remounting the Default wrapper on each request

[2018-03-29 12:25] justafish commented on #62
ah, this was introduced by https://github.com/jsdrupal/drupal-admin-ui/pull/55 - we probably should revert that and figure out another fix for that bug

[2018-03-31 08:59] pixelmord commented on #11
So to summarize:

Goals:

1. we want to localize the app
2. we want to use a well known React i18n lib that is built on standards
3. we want to leverage the existing Drupal i18n APIs and l10n ecosystem
4. we want to configure the language(s) of the app (as well | the same way) as the one of the Drupal backend

For the above points we need to:

1. start from the beginning to use an api provided by

[2018-03-31 12:00] pixelmord opened #64 "Consider using Typescript"
I do not want to open up a huge discussion on pros and cons, but I thought to bring this up early would make sense.
I personally am doing my first project that will go into production with Typescript and saw a definite improvement in code quality and safety. It was hard in the beginning especially with some more complex definitions in React for interfaces of some HOCs of e.g. react-apollo, but in

[2018-03-31 12:35] pixelmord opened #65 "Add storybook? styleguide and plan component development"
I saw that issue #7 mentions the "bonus" of a storybook story for the permissions page and #17 deals with components that are Drupal Admin specific.

I think it would be a good idea to
1. have a storybook style guide for this project to enable style development asynchronously to feature implementation
2. to create an architecture where we do not copy paste components between react-drupal-component

[2018-03-31 12:47] dawehner commented on #65
I agree we should copy over the work we did on the components branch over here: https://github.com/jsdrupal/drupal-react-components

[2018-03-31 12:48] pixelmord commented on #14
I would not consider making the Admin UI `themable` in the sense of overriding markup and other complex alterations that one can do with the Drupal theme system.

However, for the sake of code quality and consistency of e.g. colors and other CSS values, I would propose using the concept of a default `emotion theme` to make some common values variables and be able to reuse them across different com

[2018-03-31 12:48] justafish commented on #64
Thanks for bringing this up! Whilst I think TypeScript (and Flow) are great. The thing that makes me hesitate the most is this:
https://insights.stackoverflow.com/survey/2018#technology
JavaScript is at 70% and TypeScript at 17%
I think we're already attempting to make a big leap for the Drupal community in technology terms, this might be a bit too much (for now). One of the biggest goals for me i

[2018-03-31 12:56] dawehner commented on #64
We had a similar discussion for a new project we had a work. One thing we realized tools like typescript or flow exist as people experienced pain along the path and came up with a solution for it.

This actually really similar to how redux for example came in place. People realized that local state managment can be hard, so they came up with the [flux architecture](http://fluxxor.com/what-is-flux.

[2018-03-31 12:56] justafish commented on #11
@pixelmord sounds like a good plan! :+1:
If this is something you want to actively work on, keep in mind is that we're still futzing around with the general architecture and what not, so I would suggest keeping this experiment isolated to one component as a proof-of-concept

[2018-03-31 12:58] dawehner commented on #14
I really like this idea of emotion themes. I think that way we could also introduce some easy way to improve accessibility, similar to what OSX does: Even more contrast, bigger fonts, less animations etc.

[2018-03-31 13:08] pixelmord commented on #65
@dawehner I do not understand completely what you mean?
I was proposing to let the `jsdrupal/drupal-react-components` project continue and require it as a dependency by `jsdrupal/drupal-admin-ui` so the latter can be concerned with functional components and the presentational stuff can be developed in the former project.

In the drupal-react-components we might want to refactor a bit to make it co

[2018-03-31 13:11] justafish commented on #65
We discussed this a few meetings ago, but we'll probably go the route of [yarn workspaces](https://yarnpkg.com/lang/en/docs/workspaces/), but for now just trying to keep things relatively simple whilst we get our feet off the ground

[2018-03-31 13:53] pixelmord commented on #11
On it.

[2018-04-13 06:29] gabesullice opened #81 "[X-Post] Explore 'create-form' and 'edit-form' link relations to support JS Modernisation Initiative"
https://www.drupal.org/project/jsonapi/issues/2960550

JS oriented summary: JSON API specifies a concept of 'links objecta'

These links objects are used to like to related resources.

If one retrieves an entity via JSON API, we could include a link to a resource which describes the edit form for that entity (for the current user)

The form representation could be JSON.

That JSON could be a speci

[2018-04-13 14:24] dawehner commented on #41
This is resolved

[2018-04-13 14:24] #41 closed

[2018-04-13 14:24] dawehner commented on #7
I'd say we are good on that one.

[2018-04-13 14:24] #7 closed

[2018-04-13 14:25] dawehner opened #82 "Adapt the README to use --depth and use the 8.6.x branch to ease the install process"

[2018-04-13 14:55] dawehner opened #83 "Ensure the admin UI works on a base path"
Right now the routing/redirect is quite broken when you installed Drupal in a base path, like ```localhost:80/drupal```

[2018-04-13 15:01] ashabed commented on #83
I'll work on this.

[2018-04-13 15:16] dawehner opened #84 "Document local development environment better"
* Describe how to setup a local dev environment:
* Configure cors

sites/default/services.yml
[code]
* Grant permissions: "administer site configuration" "administer users"

[2018-04-13 15:24] dawehner opened #85 "Implement simple content listing page"

[2018-04-13 17:43] ashabed commented on #84
I'll work on this.

[2018-04-17 15:09] lauriii commented on #21
https://github.com/jsdrupal/drupal-admin-ui/pull/90 fixed this 👍

[2018-04-17 15:09] #21 closed

[2018-04-17 15:12] lauriii commented on #46
I think this issue has been fixed at some point 🙂

[2018-04-17 15:12] #46 closed

[2018-04-18 15:33] tedbow commented on #85
To support this I am looking what it would take for create `/jsonapi/node` resource that would allow collections of nodes(another entity types) across bundles.

It doesn't look like the *jsonapi* module itself would introduce this https://www.drupal.org/project/jsonapi/issues/2956414

Seems like it would be possible with new resource type.

My idea would be figure who to expose just the basefields

[2018-04-18 15:35] dawehner commented on #85
What confuses me personally is the following: Entity queue is totally able to handle cross bundle queries.

[2018-04-18 17:10] tedbow commented on #85
This https://www.drupal.org/project/entityqueue or \Drupal\Core\Config\Entity\Query\Query ?

Assuming the 2nd. Yeah I think it is more design decision for entity api.

[2018-04-19 15:27] webchick commented on #13
One suggestion from the core committer call today was to do some research about how often (and where) throughout the admin interface contrib needs to leverage form altering, etc. capabilities.

From https://www.drupal.org/project/git_dev/issues/1057386 there's an index of D8 modules (as of late 2017) at http://grep.xnddx.ru/ so some data mining out of there to figure out where we need to realistic

[2018-04-23 16:40] dawehner opened #100 "Automatically build jsdrupal/drupal-admin-ui-demo to ensure things work"
Setup circleCI to build jsdrupal/drupal-admin-ui-demo automatically, so it will always work.

[2018-04-27 23:00] webchick opened #105 "Come up with an agenda/attendee list for JS sprint at Front End United"
Based on discussions w/ core committers, it seems like it would be very advantageous to get everyone on the same page about what this initiative is attempting to do, plans on how/when exactly to get the work into core, how to handle major points of collaboration, work through some architectural questions, etc.

[Front End United](https://www.frontendunited.org/) is coming up the weekend of Thursda

[2018-04-28 00:59] justafish commented on #105
🎉

regarding `$someone from React/Gutenberg` - rendering a thing in React is, ironically, the absolute least of our challenges 😂People doing day-in-day-out client work with CMSes would be more valuable imo

[2018-05-03 07:48] ol0lll commented on #105
I would like to join.

| Name | Role | Dates |
| :--: | :--: | :--: |
| Volker Killesreiter  |  Developer for the thunder core team (thunder_admin theme maintainer)  |  May 28 afternoon-June 2 |

[2018-05-11 13:36] justafish commented on #105
Could everyone please add their availability to these spreadsheet? We're under "Drupal JavaScript Initiative / Admin UI	" https://docs.google.com/spreadsheets/d/1b73QHyqRKzbiL_sdAflnBCGLbLOghhdTq4VjnyQq7_0/edit?ts=5a9f9ba3#gid=0

Thanks!

[2018-05-12 14:47] lhuria94 commented on #82
Hi @dawehner, I can pick this up if you can explain a bit more about what is the exact expectation here?

[2018-05-14 16:27] dawehner commented on #82
@lhuria94 Hi! Sorry for my late reply. I think this task is no longer useful, as we do have a devify command now :)

Please come to our meeting in 3 minutes though, if you have time.

[2018-05-14 16:27] #82 closed

[2018-05-15 08:47] justafish commented on #105
FYI attendees: Frontend United will be making the sprint free and tickets for the co-working space won't be required 🎉

[2018-05-15 11:30] BarisW commented on #105
Also, we planned a social event every night of the week, with limited availability. Please book your spot ASAP: https://www.frontendunited.org/social-track

[2018-05-15 17:13] webchick commented on #105
Wow, that's SO awesome! Thank you, Frontend United! :D

On Monday's call we got clarity around the dates of the sprint, the attendees of the sprint, and their general availability, which is a huge step (updated the summary with that info).

One thing we don't yet have clarity around though is an "agenda" of what we're hoping to accomplish. This is helpful not only for having alignment going into t

[2018-05-15 20:29] dawehner commented on #105
+1 on an agenda. It certainly helps to not go off the rails and do something completely different, even we might not be able to go through all the points.

* I generalized some of the issues (form api / themeable output to describe that it is actually about)
* Replaced challenges with questions. Challenges exist when you know what you want to build, but [IMHO](https://xkcd.com/1989/) that's requir

[2018-05-17 10:35] dawehner commented on #105
One thing which might be worth making clear. As long there are mockups/designs we can continue building. As we go we can add extension points, but I think talking about some of those fundamental questions in parallel is an important step.

[2018-05-17 16:04] webchick commented on #105
Feedback from the core committers:

- Primary goal: Update the roadmap to reflect the current state of the initiative, including priorities/milestones (e.g. this by 8.6, this by 8.7).
- Rather than should we / how can we support translation... e.g. focus on "when" in the roadmap can we be tackling translation?
- Important to define the "scope" of the support of these items. (At this phase, zero vi

[2018-05-17 16:48] dawehner commented on #105
I totally understand the need to be able to plan ahead. For me the scope, especially in the full context of Drupal, is just too massive: Hey here build this awesome new skyscraper, but our architect just started and has like 10 other projects to work on first.
Can you give us the cost? :)

An alternative to help estimating projects and actually getting things done is to make the scope smaller. The

[2018-05-17 18:27] ckrina commented on #105
@dawehner we're working with the idea of the content authors as the main ones, but we can go deeper into that in a meeting or in the sprints.

What would be useful for us to be decided at FU:
For the “Eight” theme:
- Will it be used as fallback for React UI?
- Deadlines: when it needs to be done and when it's too late to invest more time on that
For Design:
- Define which components are the most n

[2018-05-18 13:08] yoroy commented on #105
Maybe the items in the agenda were not sorted yet? That first "Agreement on scope/timeline for initiative w/ Dries + other committers", I would think is the intended outcome of the multiple discussions we need to have.

[2018-05-19 10:58] martinfrances107 opened #108 "composer create-project fails for Node 10"
When I follow the step on the main page, namely

composer create-project jsdrupal/drupal-admin-ui-demo -s dev --prefer-dist

After a time I get this response.

....

 - Installing doctrine/common (v2.8.1): Loading from cache
  - Installing asm89/stack-cors (1.2.0): Loading from cache
  - Installing drupal/core (8.6.x-dev dc4fa9e): Loading from cache
  - Applying patches for drupal/core
    https:/

[2018-05-21 10:02] martinfrances107 commented on #108
I was on Node 10 ... downgrading to node 9.11.1 solves the problem

The GitHub summary says Node 8 is required ... so I think that need to be changes to a range.

[2018-05-22 14:10] mgifford opened #109 "Leverage tools like react-a11y in build process"
I was reading through what WP is doing for automated testing here:
  https://humanmade.com/2018/05/17/automated-accessibility-testing-during-development/

Came across these react tool for accessibility:
  https://github.com/reactjs/react-a11y
  https://github.com/evcohen/eslint-plugin-jsx-a11y

Would be good to have better tools to test the builds.

Again, automated tests only go so far, but they

[2018-05-22 15:43] justafish commented on #109
We're already using react-a11y in our automated tests. pa11y looks useful :+1: We could also write some of these tests in Nightwatch.

[2018-05-22 15:46] mgifford commented on #109
I think Pa11y will be more useful when it is easier to run axe-core from it https://github.com/pa11y/pa11y/issues/399#issuecomment-390623275

[2018-05-22 21:45] dylanb commented on #109
You can also run axe-core directly in Enzyme and Jest tests, there is also the https://github.com/dequelabs/react-axe module

[2018-06-05 11:53] dawehner opened #113 "Add "access content overview" permission to content listing"

[2018-06-05 14:28] #105 closed

[2018-06-05 20:10] tedbow opened #116 "Fix jsonapi_support module to work with JSON API 8.x-1.19"
Because when I made this module it relied on internal classes 😞

[2018-06-05 21:00] mattgrill commented on #116
Currently we are unable to use `include` with this resource.

[2018-06-05 22:01] tedbow commented on #116
https://github.com/jsdrupal/drupal-admin-ui/pull/117

[2018-06-06 08:58] lauriii opened #119 "Allow deleting content inside the app"
Deleting content works currently by redirecting to Drupal's delete content form. We could improve the UX by allowing deleting content directly on the app. Material UI has tools in place for this use case: https://material.io/design/components/dialogs.html#alert-dialog

[2018-06-06 08:59] lauriii opened #120 "Allow sorting content by table column"
The current admin content table allows sorting by a table columns. This seems useful so we probably want to include this in our demo.

![screen shot 2018-06-06 at 15 59 07](https://user-images.githubusercontent.com/1845495/41027996-a0d98866-69a2-11e8-855f-199c3583edb1.png)

[2018-06-06 09:01] lauriii commented on #113
Have we already discussed how we would like to do this?

[2018-06-06 10:09] lauriii opened #121 "Show author name on the content list"
We are still missing the author name on the content list.

[2018-06-06 13:23] dawehner commented on #121
:+1:

[2018-06-06 13:49] dawehner commented on #120
In case you tackle this issue. The sorting should be handled by adapting the resulting query, not by sorting the data we have.

[2018-06-06 13:52] dawehner commented on #113
I don't thing we have :)

Conceptually the data is available once the endpoint is exposed. One thing we could do is a ```render prop``` style HOC which allows you to specify which permission is needed for the route / component underneath. This component would look at the current user, and all its permission from all the roles and then show the inner component, or not.

This could be useful in not

[2018-06-06 15:01] lauriii opened #122 "Add the "add content" button to content list"
The current "add content" button is added using local actions but we could probably for now just hard code the button. I think we could use the pattern from here https://material-ui.com/demos/buttons/#floating-action-buttons for this.

[2018-06-07 07:29] lauriii opened #125 "Get the anonymous username from the backend"
Drupal allows users to configure the name of the anonymous users. As part of https://github.com/jsdrupal/drupal-admin-ui/pull/123 we added a hard coded anonymous user name. We should fetch the user configured anonymous username and use that instead of the hard coded one.

[2018-06-07 07:48] dawehner opened #126 "Add pager support for the content listing"
It would be nice to have pager support for the content listing. Right now in core we prefer simple pagers, aka. "mini pagers" over full fledged ones for performance reasons.

Pager [component in Material UI](https://material-ui.com/api/table-pagination/#tablepagination) and a [demo](https://material-ui.com/demos/tables/#sorting-amp-selecting).

The pager should be linked to work with the JSON API

[2018-06-07 07:48] dawehner opened #127 "Add bulk operations support"
It would be nice to have some level of bulk operations, so you can publish multiple nodes at once.

[2018-06-07 07:57] lauriii opened #128 "Add pager to the content list"
Currently we load all content on a single page which causes performance issues when there is lots of content. Add pager to the content list. The pager should be linked to work with the JSON API instead of paging content in the browser.

[2018-06-07 08:00] lauriii commented on #128
Duplicate for https://github.com/jsdrupal/drupal-admin-ui/issues/126

[2018-06-07 08:00] #128 closed

[2018-06-07 08:33] lauriii opened #129 "Add support for user configured timezones"
The PR https://github.com/jsdrupal/drupal-admin-ui/pull/123 introduced some date formatting. This doesn't take into account users timezone configuration from Drupal, but instead falls back to using users browser settings. We should get the timezone configuration from the backend and format the date using that.

[2018-06-07 17:47] mattgrill commented on #125
@lauriii There is this [patch](https://www.drupal.org/project/jsonapi/issues/2843922) that @wimleers created. Just some minor tweaks on our side to not actually link the anonymous user.

[2018-06-07 20:10] mattgrill commented on #121
Fixed in #123

[2018-06-07 20:10] #121 closed

[2018-06-11 07:12] lauriii commented on #126
**Three possible approaches for the pagination:**

- Store content from all pages user has viewed in the store. This means that the content store is decoupled from the content listing page and can be shared across components and when user re-visits the content listing page. This requires the most complex data structure for the store. However, this would be reusable between all pages requiring pagi

[2018-06-11 08:21] lauriii opened #131 "Create caching strategy for data in store"
We might want to consider caching some data in the store instead of refetching everything on every route change. There are some examples such as current username, menu etc. that are quite easy to persist in the store but should be changed when mutations happen. Some more difficult cases are for example content listing and single pieces of content.

[2018-06-11 08:29] lauriii commented on #126
*We have to also decide:*

- Do we persist data on the table when user is navigating between pages?
- Do we persist data on the table when user navigates back to content list from other page?
- Do we allow users to navigate directly to a specific page (content?page=3 for example)?

[2018-06-12 02:51] iberdinsky-skilld commented on #119
One thing not obvious here. According to React practice we have to create new dialog component. But i think it should be in atoms and reusable by other app components. and in this case it should be component: Dialog with alert variant here.

[2018-06-12 11:26] #122 closed, assigned to nobody

[2018-06-14 08:25] lauriii opened #136 "Add loading animation"
We should build a generic loading animation that could be utilized in different pages. For now this could be at least utilized on the content listing.

[2018-06-20 08:45] #100 closed

[2018-06-20 08:45] #84 closed

[2018-06-21 13:41] #120 closed

[2018-06-24 19:18] dawehner opened #138 "Add "no content" please add some message"
When there is no content as a result (because either non exist, or filters excluded them) we could offer a welcoming message to create some content with a link to ```/node/add```

See https://www.drupal.org/project/drupal/issues/1798540

[2018-06-26 10:47] martinfrances107 commented on #119
@mattgrill  -- Are you actively working on this  @?... I have a first draft I am about to create a pull request

I am just posting a early draft - so we can grasp the rough shape of this.

I just copied the example source code from the alert dialog button here
https://material-ui.com/demos/dialogs/#alerts

For D8 purposes DeleteButton may not be generic enough -- maybe a first cut will highlight a

[2018-06-26 11:12] lauriii commented on #119
@martinfrances107 I posted feedback on the UI at the PR! I haven't heard @mattgrill mentioning this issue for a while so I'm unassigning him from here for now 🙂

[2018-06-26 12:19] dawehner commented on #119
@martinfrances107 Some of the changes in https://github.com/jsdrupal/drupal-admin-ui/pull/135 could be helpful for you too. It for example provides delete support on the API level and provides a redux action as well.

[2018-06-26 20:46] martinfrances107 commented on #119
Here are my notes associated with the next PR.

@lauriii  Thanks for the feedback ... after reading your notes and after a little thinking,  I have made the button more component like.

 ... As a component I want a generic  button that lives in a Drupal 'operations' column for whatever table and function comes our way next. One that can be labelled as 'add' 'edit' whatever..and can be styled with

[2018-07-02 15:43] ol0lll commented on #127
#144 fixes this

[2018-07-02 15:43] #127 closed

[2018-07-03 13:54] martinfrances107 commented on #119
The missing work .....

Connecting the new dialog upto the action etc ...  has been completed as part of the bulk operation issue.

I have tested the functionality in master and think this can be closed.

[2018-07-03 13:54] lauriii commented on #119
@martinfrances107 thank you for confirming! Closing this issue! 🎉

[2018-07-03 13:54] #119 closed

[2018-07-04 06:58] dawehner commented on #108
That's quite interesting. I just tried to reproduce this problem. Node 10 just worked. Maybe this was a temporary hickup due to the patch not longer being required.

[2018-07-04 10:17] mattgrill opened #147 "Quick-start environment is missing current content listing view path overrides."
The current quick-start environment is currently missing the path overrides for the /admin/content listing page.

![missing](https://user-images.githubusercontent.com/1090713/42271689-d2250db6-7f7b-11e8-9d64-0a51624abfb3.gif)

[2018-07-04 11:40] mattgrill opened #151 "Allow fields to have display labels."
Rendered fields currently do not have the ability to have a different display label.

[2018-07-04 11:53] mattgrill opened #152 "Add support for adding new content with the 'plus' button."
The plus button currently does not offer the same functionality that `/node/add` normally would.

- all content types are currently loaded for the content listing page.

<img width="221" alt="react_app" src="https://user-images.githubusercontent.com/1090713/42275683-090c7ad2-7f89-11e8-9b04-131de2e5daca.png">

[2018-07-04 12:32] #147 closed

[2018-07-04 12:45] rsanzante commented on #64
I would like to add some thoughts to this conversation:

- While JS is very popular and TypeScript is not so popular, Angular is the second popular library/framework/tool, and Angular uses TypeScript.

- TypeScript learning curve is very very easy. It's just JavaScript with many other things from classic OOP, pretty straightforward. See https://www.typescriptlang.org/docs/handbook/typescript-in-5-

[2018-07-04 13:42] dawehner opened #153 "Number field widget"
Similar to https://github.com/jsdrupal/drupal-admin-ui/pull/148/files#diff-4ed0700d6e4aa3489751ab950e7bbe5a we need some number field widget

Sadly there is no number by default, so maybe we need some way to disallow entering a number?

[2018-07-04 13:48] dawehner opened #154 "options_select field widget"
Similar to https://github.com/jsdrupal/drupal-admin-ui/pull/148/files#diff-4ed0700d6e4aa3489751ab950e7bbe5a we should have a select widget ```\Drupal\Core\Field\Plugin\Field\FieldWidget\OptionsSelectWidget```

I suppose we will need some level of settings of the allowed values, which probably should be exposed as part of the schema. This might be a tricky issue ...

[2018-07-04 13:51] dawehner opened #155 "Entity reference field widget"
We need some entity reference field widgets for

* Referencing users
* Referencing taxonomy terms, creating tags

There is https://material-ui.com/demos/autocomplete/#autocomplete available, but it wraps other libraries. It would be nice to look at those libraries and see whether they allow to create new tags as well.

* Creating tags might be also tricky as the API might not support it yet direct

[2018-07-04 13:55] dawehner opened #156 "Checkbox field widget"
For the "Published" checkbox we need a checkbox field widget, see ```core/lib/Drupal/Core/Field/Plugin/Field/FieldWidget/BooleanCheckboxWidget.php:20``` and https://github.com/jsdrupal/drupal-admin-ui/pull/148/files#diff-4ed0700d6e4aa3489751ab950e7bbe5a

[2018-07-04 13:56] dawehner opened #157 "Date selection field widget"
Just like ```core/lib/Drupal/Core/Datetime/Plugin/Field/FieldWidget/TimestampDatetimeWidget.php:25``` we need a widget for timestamps

Right now the UI looks like this in Drupal
![screen shot 2018-07-04 at 14 57 01](https://user-images.githubusercontent.com/29678/42281123-89a7f714-7f9a-11e8-91f9-2dc3cfadba3f.jpg)

There is a material UI component, see https://material-ui.com/demos/pickers/ we coul

[2018-07-04 13:58] dawehner opened #158 "Field widgets"
For a new node form we need a couple of field widgets, which will be part of this epic.

If you are working on a field widget please assign yourself and issue and mention it in #javascript in Slack :)

[2018-07-05 07:31] martinfrances107 commented on #108
Thanks for taking a look at this .... I am glad it can in principle be made to work.

To see if it was a hickup  --  I deleted my drupal-admin-ui directory and started from new -  following the  install  the steps in README... this time through I got a little further but failed.

The composer create-project returned without errors ...

This time things failed on the devify steps... I am posting th

[2018-07-05 07:35] dawehner opened #160 "Import Proptype from 'prop-types' instead of destructing"
See conversation at https://github.com/jsdrupal/drupal-admin-ui/pull/134#discussion_r200188457

* Convert all the proptypes to use ```Proptype.string``` etc.

[2018-07-05 08:21] martinfrances107 commented on #108
Just making notes for myself ..Changes I have made without success.

I was on node 10.5.0 ... I upgraded to 10.6.0

I did have a package in yarn global .. I removed it just in case it was holding back the installed version of upath... no change.

I have not reported my version of yarn yet... 1.7.0

[2018-07-05 09:50] rsanzante commented on #160
I understand is something like this: https://github.com/rsanzante/drupal-admin-ui/commit/e61cbaf172b6eb1d1308fcecbaf231a1e68e18be

[2018-07-05 09:56] dawehner commented on #160
Yes, exactly!

[2018-07-05 09:56] dawehner commented on #108
@martinfrances107 So the issue is resolved for you?

[2018-07-05 12:00] lauriii commented on #138
Fixed by #149

[2018-07-05 12:00] #138 closed

[2018-07-05 13:00] martinfrances107 commented on #108
No, I am still having to downgrade to node 9 to make progress elsewhere.

BUT

A) This morning I am more convinced it is a local screw up .on my machine...

B) Regarding the "node engine" in the bug report ... when I look at the PR

https://github.com/jsdrupal/drupal-admin-ui/pull/141/files

 in the package.json file .... the engine is locked down to node 8.11

So I am thinking of delaying further

[2018-07-05 13:29] lauriii commented on #152
This is fixed by #159

[2018-07-05 13:29] #152 closed

[2018-07-05 13:30] #85 closed

[2018-07-05 13:30] #26 closed

[2018-07-05 14:30] rsanzante commented on #136
Not sure but this may be already addressed. There's a Loading component in src/components/05_pages/Permissions.

It's used in Permissions and Dblog.js, for example.

[2018-07-05 15:03] VD39 commented on #156
I will work on this issue.

[2018-07-05 15:31] rsanzante commented on #156
Sorry, I didn't post I was facing it.

[2018-07-05 15:44] VD39 commented on #157
I will work on this issue.

[2018-07-05 16:14] lauriii commented on #126
This has been fixed by #128

[2018-07-05 16:14] #126 closed

[2018-07-05 16:21] dawehner commented on #58
We postponed this work for now.

[2018-07-05 16:21] #58 closed

[2018-07-05 16:21] dawehner commented on #47
We have done that

[2018-07-05 16:21] #47 closed

[2018-07-06 08:33] francescopersico commented on #155
I 'll work on the issue.

[2018-07-06 11:22] VD39 commented on #154
I will take this issue.

[2018-07-06 12:18] #52 closed

[2018-07-06 13:49] dawehner opened #173 "Tests: Write a nightwatch test for the /node/add page"
It would be nice to have some tests for the /node/add page, just ensuring it lists the expected content types.

[2018-07-06 13:50] dawehner opened #174 "Tests: Write a nightwatch test for the /admin/content page"
It would be nice to have some tests for the /admin/content page, just ensuring it lists the expected content types.

[2018-07-06 14:11] dawehner commented on #157
This is done now!

[2018-07-06 14:11] #157 closed

[2018-07-06 14:11] dawehner commented on #153
This is done too, thanks a ton!

[2018-07-06 14:11] #153 closed

[2018-07-06 14:37] #160 closed

[2018-07-06 15:42] martinfrances107 commented on #158
I have a comment, I hope I am not treading on anyones toes

I am playing with code fragments trying to establish a a resuable pattern for Widgets

here is a code snippet from

https://material-ui.com/demos/selects/

It shows how to added labels, for selected

`       <FormControl className={classes.formControl}>
          <InputLabel htmlFor="select-multiple-chip">Chip</InputLabel>
          <Sele

[2018-07-06 17:23] martinfrances107 commented on #108
I have just

- Reverted to Node 10.6
- Wiped away my drupal-admin-ui-demo directory
- Followed the install procedure again

ALL is good it looks like #141 resolved the issue.

Well a large number of unmet dependancy warning messages just started to appear
BUT I am going to file another issue for that.

So now that two people have reported success  on Node 10 there is just one seemingly  ultra triv

[2018-07-06 17:34] martinfrances107 opened #176 "Clean up install unmet dependancies"
While manually testing the install procedure for another issue ( #108 )

I noticed some new warning ( see below )

package.json has been refined recently by  #141  where dependancies were more robustly locked down.

BUT This issue is to resolve the new found unmet dependency issues.

Here the response to

compoer devify

`> git clone https://github.com/jsdrupal/drupal-admin-ui
Cloning into 'drupal

[2018-07-06 18:04] #108 closed

[2018-07-07 10:21] martinfrances107 opened #178 "Make content page pass the lighthouse accessibility test"
This is just a minor follow up to  #137

When I run localhost:3000 through Chrome's Lighthouse.

I get two accessibility errors  related to  buttons ... inside TablePagination.
That they  do not have a aria-label or equivalent

From lighthouse you can click on a link to get more information

https://dequeuniversity.com/rules/axe/2.2/button-name?application=lighthouse

TablePagination has the follo

[2018-07-09 08:23] lauriii opened #184 "Create standardized way of rendering parts of the page"
It would be useful to have standardized way of providing data from page level components so that it would be possible to render important parts of the page in a standardized way. Good example of this is the page title which we probably want always to exist and we want it to be always rendered the same way. There is probably other use cases as well, for example local actions and tasks.

One of the

[2018-07-09 08:35] lauriii opened #185 "[Idea]: Provide support for server-side rendering"
In the previous discussions we have decided that Drupal shouldn't require Node as a hosting dependency. During the same conversations we had an idea that we could make Node a soft requirement for hosting, so that site owners who have Node available, could get benefits from server-side rendering. However, our infrastructure in its current state doesn't support server-side rendering and our code bas

[2018-07-09 08:36] justafish commented on #184
Could you clarify a bit further what you mean here? I'm not understanding what the requirements are that aren't solved by having e.g. a PageTitle component.

[2018-07-09 08:40] lauriii commented on #184
Mainly this is about the fact that we want to always have the page title rendered in the same place on the page. If rendering title is done manually by components rendering pages, that might lead into inconsistency between pages. This is a pre-existing UI pattern in Drupal which we might want to bring into this application.

[2018-07-09 08:59] justafish commented on #185
With our current stack I don't think this would be difficult to do (redux-saga makes it p straightforward), but I'm not sure that just rendering on the server-side would be very beneficial to us as all our interactions still require JavaScript. I think this would only be useful if we also made those interactions work without JavaScript, and I'm not too keen on doing that for this application.

[2018-07-09 09:00] justafish commented on #176
This should be fixed now, I added the wrong babel package and it had bumped us up to 7.x

[2018-07-09 09:00] #176 closed

[2018-07-09 09:47] martinfrances107 opened #186 "Give all atoms a story book page"
Story book is new (  #183 )

Regarding the opModalButton component I want a story book entry, if only because it documents/details to new developers how icons are expected to be added as children

I have it already to go ... I just need a issue to associate a PR with.

[2018-07-09 09:57] dawehner commented on #184
I guess a requirement we have is not only that we want the page title to always appear in the same place, it is more about there is always one.

Is the admin UX design team 100% sure that this is the pattern which will exist in the future?

On the implementation side of things I am wondering whether we could use the fact that react components can return not just elements, but also array of element

[2018-07-09 11:01] lauriii commented on #136
The loading animation used there was just a temporary one use while prototyping. For example, it doesn't follow Material design language.

We have various problems with different interactions related to loading.

The menu is visible but empty while loading, which isn't great. Also the content list shows empty text while loading instead of a loading animation.

![loading1](https://user-images.githu

[2018-07-09 11:10] ckrina commented on #184
In the title situation specifically, there will be always a title but I'm not sure it will always behave the same way. In example, let's say you are creating a new node: now the title is something like "Create Basic page" but in the future it could be changed to something that represents the real title for new content you are creating.
And local actions could be extended by other modules maybe?
Ma

[2018-07-09 11:12] dawehner commented on #185
I do agree with @justafish that we need to have some benefit resulting out of that. Right now at least I think we would have a bigger benefit by investing in other pieces of the application.

[2018-07-09 11:20] lauriii commented on #184
This seems like something that doesn't change per page.

The question is that do we want to force every page to have a title as a UX pattern or not.

[2018-07-09 11:28] ckrina commented on #184
Yes, there should be a title to let people have context. But it might not look the same, be placed on the  same region or behave the same.

[2018-07-09 12:52] martinfrances107 commented on #64
I would like to make the case for Typescript or at least turning on flow ...

In order that we can, in the long term,  solve one glaring obvious problem...

The project is at a early stage but ...
I have been caught out on this a few times .. it is sometimes really good to be able to say that **something** between week 15-20 destroyed our performance and XYZ  is this why we need to insert costly r

[2018-07-09 14:02] rsanzante commented on #136
I see, those problems rea typical, at least I faced them when working in an Angular app. I'll try to have a look into it.

[2018-07-09 14:08] martinfrances107 commented on #64
Just relaying the outcome of a slack conversation with @justafish

No problem really ... it is a polarising subject... and there are plenty of ways of making an app fast.

[2018-07-09 14:58] wimleers commented on #125
https://www.drupal.org/project/jsonapi/issues/2843922 was committed to the 2.x branch of JSON API!

[2018-07-09 14:58] wimleers commented on #125
IOW: updating to JSON API 2.x should be sufficient.

[2018-07-09 15:56] dawehner commented on #125
Nice! Thanks for letting us know

On Mon, 9 Jul 2018 at 15:58 Wim Leers <notifications@github.com> wrote:

[2018-07-09 16:52] justafish opened #189 "Setup zulipbot to allow people who aren't in the organisation to claim issues"
https://github.com/zulip/zulipbot

[2018-07-09 16:57] dawehner commented on #189
Is this a task someone from the community can pick up?

On Mon, 9 Jul 2018, 17:52 Sally Young, <notifications@github.com> wrote:

[2018-07-09 19:30] martinfrances107 commented on #176
Thanks you, yes for what it is worth I can confirm

yarn install now functions as expected.

[2018-07-09 20:04] VD39 commented on #156
As this has been merged, I assume this issue can now be closed?

[2018-07-09 20:14] dawehner commented on #156
Totally!

On Mon, 9 Jul 2018, 21:04 Vijay Dubb, <notifications@github.com> wrote:

[2018-07-09 22:18] dawehner opened #190 "Collect problems a stronger type system would have helped (Flow/Typescript)"
This issue is meant to collect bugs/issue which would have been resolved by a stronger type system

Possible examples:

* Missing parameter
* null is not a function
* A disallowed value got passed along
* An array instead of a set was used.

[2018-07-10 10:06] rsanzante commented on #136
We need components to have kind of loading state. It can be something with those values:
- Initializing: Component has been created and needs to perform any needed initialization tasks.
  Initialization could be as simple as change state directly to settled, perform any processing or trigger a data load.
- Loading:  Component has requested data or is doing a heavy processing work. From here it can

[2018-07-10 10:13] dawehner commented on #136
This analysis sounds really sane. Multiple people on the internet came to the same conclusion, see https://medium.com/javascript-inside/slaying-a-ui-antipattern-in-react-64a3b98242c for example.

That sounds like an implementation detail :) We could also encapsulate the state in its own object, but yeah it is something we can argue about :)

[2018-07-10 12:17] martinfrances107 commented on #186
I have widened this issue to cover more of what react calls  "atoms"

I have updated the storybook page for OpsModalButton so that is now shows the button in situ... inside a Table element.

Now all elements in the widget sub directory have a storybook page.

[2018-07-10 13:07] dawehner opened #191 "Track nightwatch failures"
* https://circleci.com/gh/jsdrupal/drupal-admin-ui/2667
* https://circleci.com/gh/jsdrupal/drupal-admin-ui/2683
* https://circleci.com/gh/jsdrupal/drupal-admin-ui/2685
* https://circleci.com/gh/jsdrupal/drupal-admin-ui/2734
* https://circleci.com/gh/jsdrupal/drupal-admin-ui/2725
* https://circleci.com/gh/jsdrupal/drupal-admin-ui/2740
* https://circleci.com/gh/jsdrupal/drupal-admin-ui/2745

[2018-07-10 15:30] martinfrances107 commented on #109
So here is a developers users experience story...

While running the content page through Chrome's lighthouse test suite .. ... I picked out manually a few accessibility bugs ( #178 ) **periodic manual inspection is bad**

When I use react-axe ... it automatically and are highlights my bugs in Chrome browsers console logs ...

So I have a pull request I am about to create.... its is only a few lin

[2018-07-10 16:48] martinfrances107 commented on #191
Here is a second failure.

https://circleci.com/gh/jsdrupal/drupal-admin-ui/2685

[2018-07-10 16:52] martinfrances107 commented on #191
https://circleci.com/gh/jsdrupal/drupal-admin-ui/2683

[2018-07-10 17:05] mgifford commented on #109
Also worth looking at https://github.com/evcohen/eslint-plugin-jsx-a11y & https://www.previousnext.com.au/blog/automate-your-drupal-accessibility-testing-axe-and-nightwatchjs

[2018-07-10 17:07] #156 closed

[2018-07-10 17:13] dawehner opened #193 "Enhancements to the file upload widget"
* [ ] Allow to click into the drag zone to upload a file, not just drag'n drop
* [ ] Allow multiple files to be uploaded at the same time

[2018-07-10 17:14] #154 closed

[2018-07-10 17:15] dawehner commented on #64
I created an issue where we can collect problems where TS/flow would have helped: https://github.com/jsdrupal/drupal-admin-ui/issues/190

[2018-07-10 17:18] dawehner opened #194 "Add the "Preparation time" and "Cooking time" widgets to the recipe form"
* [ ] Adapt drupal-admin-ui/src/components/05_pages/NodeForm/UiMetadata.js to contain both additional fields
* [ ] Adapt the number fields to have support for some suffix/prefix, see screenshot:

![image](https://user-images.githubusercontent.com/29678/42526373-85d4ba64-846d-11e8-91cb-5c8a00050259.png)
  Put this additional information also into the UiMetadata for the two fields.

[2018-07-10 17:20] dawehner opened #195 "Add a multi-delta wrapper to add the INGREDIENTS fields"
So far every field was just allowed to provide a single value. The ingredients field though can hold multiple values at once, each being a text field.

* [ ] Implement some wrapper, which allows to enter multiple data
![image](https://user-images.githubusercontent.com/29678/42526496-e1056db6-846d-11e8-975f-8287e362b504.png)
* [ ] Based upon the cardinality of the schema add the wrapper automatical

[2018-07-10 18:24] martinfrances107 opened #196 "Cleanup a11y issues with the menu bar"
So here is train of thought that switches three issues together

This is a isolated issues so we can discuss the best way of making the menu bar pass a11y tests.

#178 is where we make the content page pass.

#109 is where we add interactive a11y checks for DX, and lint checks for automation.

I want three separate issues, so that readers who only care about the goodness of the menu bar can limit

[2018-07-10 18:32] martinfrances107 commented on #109
Thanks I will work that into the next update here...

Sorry to talk a little PR housekeeping

When/If  we starting lint checking a11y --- initially  this issue will fail hard ---

So this is just a note to say we could conceptually 'postpone' and  possibly merge this once #179 and #196 are complete.

[2018-07-10 20:19] martinfrances107 commented on #109
So I have a judgement call we need to talk about here....

I don't particularly feel strongly about one way  or the other

At hand we  have a switch to set for the a11y lint ruleset "recommended" or "strict"

It is a new project, undergoing rapid development  so 'strict' might be too strong when so much code is being written and then rapidly rewritten.

So the choice I have gone for  is lots of wa

[2018-07-11 15:30] smurrayatwork commented on #13
Could issues with alterability be resolved through the use of React's Context API? If Page, Region, Block, Fields each have a shared context that relates data to them about what's being viewed and how it was altered, wouldn't the JS developer and the backend developer be happy?

[2018-07-11 16:12] VD39 commented on #194
I will take this.

[2018-07-12 13:31] martinfrances107 commented on #54
How would you like to bring the project in .....

as a submodule, or abandon that project and subsume the code into this one?

Just asking cos

http://127.0.0.1:3000/admin/reports/dblog

is failing at the moment Reporting  404 on a failed routing to the watchdog_entity.

So this is a higher priority than a realised ... I am happy to work on it.

[2018-07-12 15:04] mattgrill commented on #54
@martinfrances107 We've already mostly brought over that code. Since it looks like you've discovered an issue with the dblog page, _an issue with a json api resource_, lets maybe close this issue and open another.

[2018-07-13 10:05] martinfrances107 opened #197 "Stop Dblog page from 404'ing"
I want to fix two gross errors, and leave the visual styling for a later date.

1.  For a 404 response - routes prefixed with /json/ give a misleading response if left to the default HTML. I have adjusted api.js to 'accept' JSON (in the request header)  so the DX is improved as a full stack report is output.

2.  I have corrected the route to stop the 404.

I have a PR ... just creating a issue fi

[2018-07-13 11:31] martinfrances107 commented on #54
@mattgrill thanks for the quick reply....

Ok I now have a quick fix for the 404'ing in issue #197

[2018-07-13 13:35] martinfrances107 commented on #191
Another random fail

https://circleci.com/gh/jsdrupal/drupal-admin-ui/2725?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

#198

[2018-07-13 16:43] martinfrances107 opened #199 "Discuss the future development of Dblog"
From #198 - dawehner

So this is just an issue to organise the future development of the dblog page.

[2018-07-13 17:43] martinfrances107 commented on #191
https://circleci.com/gh/jsdrupal/drupal-admin-ui/2740?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Another fail.

[2018-07-14 17:48] martinfrances107 commented on #196
Please note what I said above about the PR is not entirely correct.

It is not the parent child relationships that were the problem!

It was that the List Element structure needed to contain a mixture of buttons and non-buttons

I had to be stricter about what LIstItem elements were given the 'button' boolean as a property and which were not -- in order for the a11y tests to pass.

I hope that is

[2018-07-14 18:03] martinfrances107 commented on #54
I did not want to speak until I had a chance to look over the other repo....

looking at code differences ... the other codebase is much less developed and I think it does not have much to offer

.... in short I think this issue can be closed.

[2018-07-14 18:14] martinfrances107 commented on #191
The failure rate is 100%

https://circleci.com/gh/jsdrupal/drupal-admin-ui/2745?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-07-16 07:16] dawehner commented on #199
From my point of view we will not put our efforts onto this page for now. Given that I think we should drop it, git allows us to always get back the work, if we need it.

[2018-07-16 07:19] dawehner commented on #191
Maybe the solution is to wait for longer?

[2018-07-16 07:20] dawehner commented on #191
Thank you for tracking all those failures!

[2018-07-16 08:41] martinfrances107 opened #202 "Malformed CSS is corrupting the styling of the menubar"
[Blush ] Oh menubar your scrollbars are showing.

If you look at the image to the left just about the watercress soup table row -- there is a visual blemish

it is a unwanted horizontal scroll widget

![menubadscrollbar](https://user-images.githubusercontent.com/1259969/42749441-9cee1dc2-88db-11e8-93f1-a0daae6af06a.png)

the css definition is corrupted by the single quotes directly around **hidden

[2018-07-16 11:43] martinfrances107 commented on #197
@lauriii

thank you for the review.

I am trying to juggle my priorities, and I will open another issue to visually style this page  --- once I don't have so many half finished issues open

[2018-07-16 11:43] #197 closed

[2018-07-16 19:14] martinfrances107 commented on #191
I have gone back over all the failures and think this issue has been a success

... and can be closed now

[2018-07-16 19:17] dawehner commented on #191
Nice!

On Mon, 16 Jul 2018, 20:14 martin frances, <notifications@github.com> wrote:

[2018-07-16 21:15] mglaman opened #205 "CrossBundlesResourceType causes fatal error in overridden ResourceTypeRepository"
Inside of ResourceTypeRepository, there is the following code:

[code]

The problem here is that the ResourceType requires a bundle, and the code is passing in the entity type ID. This is _invalid_ for entities which have a bundle.

If any entity implementing `::bundleFieldDefinitions` loads its bundle, a fatal error occurs. See this in Commerce:

[code]

The order item typ is null. Leading to:

[

[2018-07-16 21:16] mglaman commented on #205
My workaround was to attempt: [Support ResourceType which may have a null bundle defined.](https://www.drupal.org/project/jsonapi/issues/2960766#comment-12685668).

Wim just replied, and I have not gotten back to address.

[2018-07-16 22:31] dawehner opened #206 "Provide a way to access a demo of the admin UI without having to install it locally"
It would be nice to allow people to access an instance of the admin UI without having to set it up locally

We could leverage something like simplytest.me / composy.io / tugboat

[2018-07-16 22:32] dawehner commented on #185
Should we close this issue?

[2018-07-17 10:42] martinfrances107 commented on #202
I have corrected a hidden bug in the test strategy.

Previously the errant scrollbar could be manipulated to show the button with the menubar drawer closed. So technically a waitForElementVisible() passed even with the button 'off' the screen.

Now with the scrollbar gone, this waitForElementVisible() issue has been tightened up .. in turn the tests have to be altered so that they open the menubar

[2018-07-17 14:12] martinfrances107 commented on #185
I have some disquiet about out current performance.

Even at an early stage of development, I place value on periodically checking out a third parties view of our performance. The gold standard at the moment is Chrome's lighthouse [ although that is a a whole subject in itself - so please feel free to interject]. Time to first meaningful paint is a really difficult standard to pass.

I am happy wi

[2018-07-17 16:11] #194 closed

[2018-07-18 09:52] martinfrances107 commented on #202
merged 🎉 Thank you all for the reviews.

[2018-07-18 09:52] #202 closed

[2018-07-18 14:53] slipo opened #207 "Tests: Write a jest test for the AddContent component"

[2018-07-18 15:57] slipo opened #209 "Call end() on nightwatch tests"
Per http://nightwatchjs.org/guide

Menu nightwatch test isn't calling this.

[2018-07-18 16:34] VD39 commented on #193
I will work on this.

[2018-07-19 00:17] tedbow commented on #116
PR merged

[2018-07-19 00:17] #116 closed

[2018-07-20 12:43] martinfrances107 commented on #196
I have just deleted my last two comments ... I had a rethink and started again from scratch.

In the PR all tests pass.

[2018-07-20 14:22] #209 closed

[2018-07-20 14:22] dawehner commented on #209
Thank you!

[2018-07-20 14:22] #207 closed

[2018-07-20 14:22] dawehner commented on #207
🎆

[2018-07-20 14:26] dawehner opened #220 "Adopt Architecture Decision Record (ADR)"
@francescopersico suggest to use Architecture Decision Record (ADR) to document decisions in a nice and standardized way.

Introduction blog post: http://thinkrelevance.com/blog/2011/11/15/documenting-architecture-decisions

### Template:
https://github.com/joelparkerhenderson/architecture_decision_record/blob/master/adr_template_by_michael_nygard.md

### Examples:

* https://github.com/teamdigita

[2018-07-20 14:41] justafish commented on #220
@dawehner could you provide some examples please?

[2018-07-20 15:15] dawehner commented on #220
I updated the summary with the template, a blog post and some examples

[2018-07-20 22:35] mattgrill opened #221 "Fetch Node form schema automatically."
Fetch the node form schema automatically.

[2018-07-20 23:26] martinfrances107 commented on #196
I think the PR i  #201  )  is in its final form... finger crossed.

[2018-07-21 11:46] dawehner opened #223 "Fix error on booleanCheckbox"
Right now there is the following error message:

[code]

[2018-07-22 08:36] martinfrances107 opened #224 "Unresolvable dependencies associated with 8.7.x"
Here is a integration test failure, which is unrelated to the PR

![integrationfail](https://user-images.githubusercontent.com/1259969/43043824-8b469430-8d92-11e8-909d-feb3791c706a.png)

https://github.com/jsdrupal/drupal-admin-ui/pull/201

[2018-07-23 03:50] lauriii opened #225 "Ensure that all field widgets support FormControl"
The Material UI `FormControl` component can control some aspects of form elements rendered inside it: https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/FormControl/FormControl.js#L138 . It seems like some, but not all of our field widgets support these configuration options.

[2018-07-23 03:55] lauriii commented on #205
Solved by #213

[2018-07-23 03:55] #205 closed

[2018-07-23 03:59] lauriii commented on #199
+1 on removing the dblog page. We are not utilizing these pages anywhere at the moment and also they won't be part of our demos. Also, we won't be getting designs for these pages in a while. Once we are at a point that we want to implement these, we can always look back to what we did with git.

[2018-07-23 06:01] dawehner commented on #221
Note: This PR broke the node form, see https://github.com/jsdrupal/drupal-admin-ui/pull/227

[2018-07-23 06:06] dawehner commented on #224
This issue can be resolved by updating the composer lock file, so it
actually points to 8.7.x as well.

On Sun, 22 Jul 2018 at 09:36 martin frances <notifications@github.com>
wrote:

[2018-07-23 06:10] dawehner commented on #225
I'm a bit confused about the API exposed by material UI. Some elements, like textfield (see https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/TextField/TextField.js#L105) seem to add the form control automatically, so I guess for those we don't need to add it?

[2018-07-23 13:38] #221 closed

[2018-07-23 14:56] dawehner commented on #223
Thank you for the research of what is going. That's not obvious at all. Your fix seems totally sensible

I'm wondering whether @justafish @mattgrill or @lauriii have an opinion here.

[2018-07-23 15:31] lauriii commented on #223
IMO we shouldn't ever pass this prop to the child since it is totally unrelated.

[2018-07-23 16:18] mattgrill commented on #223
This looks like a nice fix to me.

[2018-07-23 16:53] justafish opened #231 "Drupal Europe Demo"
We would like to have a demo of this project for Drupal Europe 🎉

- [ ] Agree on what our demo will be
- [ ] Write a Nightwatch test that performs this demo
- [ ] Record a video of this, because live demos are scary

[2018-07-23 17:05] justafish opened #232 "Create a CLA bot for this repo"
https://github.com/clabot/clabot

- To ensure contributors agree to our Code of Conduct
- To ensure contributors are aware of our Values & Principles
- Anything else? license?

[2018-07-23 17:17] justafish opened #233 "Move admin_ui_support into a separate repo"
We want to do this because we'd like to license this repo as MIT, but because the admin module implements Drupal APIs then it has to remain as "GPLv2 or later"

How should we manage the workflow when we do this? (git submodules? :grimacing: )

[2018-07-23 18:09] kdonaldson commented on #231
I'd like to work on this.

I was thinking the demo could be the creation of a community driven dinner recipe site.  It would cover:

- Content Types
- Creating Content
- Creating Dummy Content
- Organizing Content with Views
- Adding Blocks
- Customizing the Homepage
- Creating Contact Forms

![todays_recipe](https://user-images.githubusercontent.com/192945/43094810-f2d4df86-8e81-11e8-82d8-308256a

[2018-07-23 20:04] mattgrill commented on #231
@kdonaldson - Some of those things are possibly a bit out of scope for what we wanted to accomplish by Drupal Europe.

I think originally we had wanted to have a working demo of,
- the content listing page, `/admin/content`
- node add form, `/node/add/recipe`

[2018-07-23 21:47] justafish commented on #233
Or is it fine to have the GPL license just inside admin_ui_support with a note inside our root license.txt?

[2018-07-23 21:56] mattgrill commented on #233
I was trying to find an example of this earlier, but I think it is possible to license the support modules code different from the parent repo.

[2018-07-23 23:56] kdonaldson commented on #231
@mattgrill ok, let me know how I can help.

[2018-07-24 07:14] martinfrances107 commented on #224
I have seen the failing tests pass... @dawehner thanks for the prompt reply.

[2018-07-24 07:14] #224 closed

[2018-07-24 07:43] dawehner commented on #233
There is no real reason that a folder can't ship with a different license that a different folder.

https://softwareengineering.stackexchange.com/questions/264968/can-a-single-github-repository-include-source-code-released-under-multiple-licen explains that quite nicely. We should put the GPLv2+ into the admin_ui_support folder

This issue is a classical example of trying to put a solution into th

[2018-07-24 07:44] dawehner commented on #231
@kdonaldson
To give you more context, the primary goal of the admin UI initiative is to build a better admin UI, not changing the way how the frontend is put together. On the admin UI the two most important pages are the content listing and content form.

[2018-07-24 08:07] dawehner commented on #199
@martinfrances107 Do you want to create a PR to drop it?

[2018-07-24 12:34] dawehner commented on #186
@martinfrances107 I'd recommend to not try to expand the PR but rather do one thing at a time.

[2018-07-24 14:45] martinfrances107 commented on #186
I need to find more time to work on this.. Yes OpsModalButton could be split off into a isolated PR.

Regarding the widgets - to meet the next developers expectations, I think the next step is to have a single page for each widget and then have a "contact sheet" where all widgets are displayed all at once.

But I have been opening issues where I see problems .. and I am now juggling too many minor

[2018-07-24 16:55] martinfrances107 opened #235 "Give OpModalButton a story book page"
Acting on a suggestion from @dawehner

I am going to split off a issue from https://github.com/jsdrupal/drupal-admin-ui/issues/186
and just provide a storybook page for the OpModalButton.

PR Is comming

[2018-07-24 18:13] VD39 opened #237 "Enable the openapi module"
It seems the openapi module doesn't get enabled, causing an 404 API error when trying to add a recipe.

Needs to be added here: https://github.com/jsdrupal/drupal-admin-ui/blob/master/admin_ui_support/admin_ui_support.info.yml

[2018-07-25 15:01] dawehner commented on #237
+1 Do you want to create a PR for that?

[2018-07-25 16:20] VD39 commented on #237
Pull request opened. I am new this area, so I am not sure if it is correct.

[2018-07-25 18:24] VD39 commented on #193
@dawehner should the images also show? At the moment it shows only the name for me.

[2018-07-25 18:29] dawehner commented on #193
That would be nice. Please ask ckristina whether there are any designs
available

On Wed, 25 Jul 2018, 19:24 Vijay Dubb, <notifications@github.com> wrote:

[2018-07-25 20:06] lauriii commented on #237
Good catch! This definitely is a problem. Thank you for opening the PR!

[2018-07-26 06:53] dawehner commented on #231
One additional idea oculd be: offline support, which could also include
making it possible for people on slower connections to have a good
experience

On Thu, 26 Jul 2018, 07:46 Lauri Eskola, <notifications@github.com> wrote:

[2018-07-26 08:22] dawehner commented on #223
Yeah, we've fixed it.

[2018-07-26 08:22] #223 closed

[2018-07-26 08:24] justafish commented on #185
@martinfrances107 The problem with that is the user will still experience a delay to the app becoming usable, and will click around with no response, which is frustrating for them and makes the app seem slow/buggy.

[2018-07-26 08:40] dawehner commented on #195
@lhuria94 I think this would work fine for a entity reference widget, but I struggling seeing how this would work for normal textfields?

Drupal has some form of strange requirements

* Some widgets handle multiple files at once (autocomplete widget, file upload)
* Some widgets don't want to handle multiple, like numbers, checkboxes, textfields etc.

It would be nice to come up with some form of a

[2018-07-26 08:46] justafish commented on #233
@dawehner I titled this issue based on the discussion we all had in Slack

[2018-07-26 08:50] justafish commented on #233
That said, I'm fine with the solution in #241. Keeps it simple :+1:

[2018-07-26 08:53] dawehner commented on #233
Sure no worries, just pointed out the common mistake people make

On Thu, 26 Jul 2018, 09:50 Sally Young, <notifications@github.com> wrote:

[2018-07-26 09:01] lhuria94 commented on #195
This example is with reference to text fields, not just for autocomplete. Like you type some text and enter, similarly, we can add multiple.

Something like this: https://material.angularjs.org/latest/demo/chips

But I see your point, guess this needs more thinking.

[2018-07-26 09:02] justafish commented on #233
Thanks :+1:

[2018-07-26 09:13] dawehner commented on #233
I'm sorry for my rude tone above. I wish there would be something on the internet which tells me: Don't write how you would write something in your native language, but rather this is how you write it in this other language.

[2018-07-26 13:12] VD39 commented on #237
Closing as issue is fixed.

[2018-07-26 13:12] #237 closed

[2018-07-26 15:00] martinfrances107 commented on #196
💯 Thank you to everyone who helped out and also reviewed this...

[2018-07-26 15:00] #196 closed

[2018-07-26 15:13] lauriii opened #242 "Add support for the secondary column"
The Seven uses pattern to have a primary and secondary column depending on the importance of the field. This patter is also included in the Seven re-design work so we know that it will exist in the future. We should implement the secondary column using Material UI for now.

Screenshot of the Seven re-design:
![screen shot 2018-07-26 at 22 13 18](https://user-images.githubusercontent.com/1845495/43

[2018-07-26 15:16] #62 closed

[2018-07-26 15:18] tedbow opened #243 "Update project description to make the project more discoverable."
Currently the project description is "v fancy ⬅️✌️➡️"

Although this description probably served it's purpose somehow I don't think this quite help newcomers actually figure what this project does 😜

Looking at the homepage for this org https://github.com/jsdrupal
![screenshot 2018-07-26 11 15 58](https://user-images.githubusercontent.com/132772/43271379-55cf1a94-90c5-11e8-8109-ecd7c56a04a0.png)

[2018-07-26 15:19] tedbow commented on #243
We could just take the first line of the README plus the peace wave.

[2018-07-26 15:21] lauriii opened #244 "Save a users in-progress node form edits which could be restored later."
As an enhancement to show on the demo we could auto save locally all the modifications user has made on the content edit form. Then when user returns on the page, if there's a saved changes in the local storage, we could prompt the user if they would like to retrieve their previous changes.

[2018-07-26 15:22] mattgrill commented on #243
I just updated the description. Thanks @tedbow

[2018-07-26 15:22] #243 closed

[2018-07-26 15:23] dawehner commented on #243
Good points @tedbow !

[2018-07-26 15:23] dawehner commented on #243
Too bad we can't order them. Ideally we would put the demo first

[2018-07-26 15:43] lauriii commented on #244
How about using snackbars to at least show a message: https://material-ui.com/demos/snackbars/

[2018-07-26 15:49] dawehner commented on #243
😢

[2018-07-26 15:50] dawehner commented on #244
Nice idea!

[2018-07-26 15:59] webchick commented on #231
Does the update include some screenshots / mockups and whatnot? (Both of the Seven refresh and the "next-gen" UI) I think we need to show *something* visual so people can get an idea of what to expect / get excited about.

[2018-07-26 17:55] ckrina commented on #231
Components redesigned for Seven for sure, so we'll be able to show an "screenshot" for the new Seven. Final and finished designs for the "next-gen" UI will be complicated, but the goal is to have first wireframes ready to test by then.

[2018-07-26 19:33] mattgrill opened #245 "WYSIWYG Field Widget"
Some initial research around WYSIWYG solutions. There are probably others, and some I skipped over for that that did not seem feature rich enough for our needs.

## Draft.js

### React Draft Wysiwyg - https://github.com/jpuri/react-draft-wysiwyg
- Support for most common elements.
- Customizable toolbar.
- RTL and spellcheck support.
- Support for WAI-ARIA attributes.

![jpuri_react-draft-wysiwyg_

[2018-07-26 20:05] mattgrill commented on #245
### Drafttail - https://github.com/springload/draftail
- Draft.js based
- Keyboard shortcuts
- "Paste from Word"
- No build in support for **links** or **images**.
- Tested with aXe.

![springload_draftail__a_configurable_rich_text_editor_based_on_draft_js__built_for_wagtail](https://user-images.githubusercontent.com/1090713/43285531-0ef5daea-90d4-11e8-838e-15594dceeefa.png)

[2018-07-26 20:42] dcorb commented on #245
I worked with Draft.js for couple of months. I would make a proper research before chosing this library, because it implements its own data structure https://medium.com/@rajaraodv/how-draft-js-represents-rich-text-data-eeabb5f25cf2 and DraftJS doesn’t offer any “exportToHTML”  serialization.
You rely on community efforts like
https://github.com/hubspot/draft-convert or https://github.com/jpuri/dra

[2018-07-26 20:44] mglaman commented on #245
I think it'd be great to use CKEditor5 and continue that collaboration. I also saw a demo of it which resembled Dropbox Paper's editor. Where you can do inline markdown editing (`##` then space makes h2, etc). And "Medium" like editing where select + hover allows formatting changes.

There are existing bridges with that community and technology, so there are benefits I believe.

[2018-07-26 21:16] dcorb commented on #245
@mattgrill  those 2 repos don't look well maintained to me
Another issue I experienced with DraftJS is the lack of Android support. FB is not interested to fix bugs in Android browsers https://github.com/facebook/draft-js/search?q=android&type=Issues
The situation with Android could improve.. it seems:
https://github.com/facebook/draft-js/pull/1672#issuecomment-369367386

I don't know what are the

[2018-07-26 22:07] dawehner commented on #245
## Slate

A customizable framework for wysiwyg ediitor independent from react (https://github.com/ianstormtaylor/slate)

It seems to have a good amount of momentum and it is designed for more usecases, especiially embedding custom objects, see https://github.com/ianstormtaylor/slate#why

[2018-07-27 10:20] martinfrances107 opened #247 "FileUpload does not handle terminated uploads with grace."
There is a minor corner case outcome which is not being trapped and handled by our code.

There are several FileUpload issues

(https://github.com/jsdrupal/drupal-admin-ui/issues/193) is adding enhancements.
(https://github.com/jsdrupal/drupal-admin-ui/issues/190) shows that flow was used to catch the bug.
(https://github.com/jsdrupal/drupal-admin-ui/issues/186) is adding a storbook page for the w

[2018-07-27 10:31] dawehner commented on #247
Thank you for documenting processes like this. People don't do that often
enough, while it gives so much longterm benefit!
I'll review PRs as you go

On Fri, 27 Jul 2018 at 11:20 martin frances <notifications@github.com>
wrote:

[2018-07-27 13:06] VD39 commented on #247
@martinfrances107 I am working on file upload at the moment, I am done with file upload component, which support multiple, and I am now working on the widget to get it to also support multiple uploads. So I can add the error handling or would you prefer to do it once I complete issue #193?

[2018-07-27 15:39] martinfrances107 commented on #247
@VD39

I am struggling with time at the moment, and in addition I have a few too many issues open at the moment.

So I am easy ... with a community spirited attitude - as you post a PR over there  I will comment/review and help out where I can. Also if you choose to ignore this little bug .. I am good with that.

[2018-07-30 12:55] #191 closed

[2018-07-30 16:17] VD39 commented on #195
I will work on this.

[2018-07-30 16:47] dawehner opened #251 "Allow editing existing content"
https://github.com/jsdrupal/drupal-admin-ui/pull/171 would enable us to save new content

Once that is in, let's try to see whether we can get editing working as well

[2018-07-30 17:43] martinfrances107 commented on #186
❤️

[2018-07-30 17:44] martinfrances107 commented on #186
sorry closed the wrong issue.

[2018-07-31 15:04] martinfrances107 opened #252 "Fix gramatical mistake"
Oh well Trump said **could** when he mean **couldn't**

and I giggled .. Now it is my turn to say Oh good grief let the  ground swallow me up"

When I said "The" I mean't to say "To"

And the text appears twice

At the start of the sentence it should say "**To** get both"

[Me stares at the ground in shame] ... I will create a PR now...

[2018-07-31 16:09] #155 closed

[2018-07-31 17:01] dawehner commented on #252
Thank you for the quick fix!

[2018-07-31 17:01] #252 closed

[2018-07-31 17:12] dawehner commented on #233
I think we can close this now :)

[2018-07-31 17:12] #233 closed

[2018-07-31 17:14] dawehner commented on #54
This was done at least for now :|

[2018-07-31 17:14] #54 closed

[2018-07-31 17:15] dawehner commented on #158
[code]
I guess this depends on the design. There could be easily widgets with different levels of requirements where to place the label. Thoughts?

[2018-07-31 17:17] dawehner commented on #81
I do have a fundamental question which confuses me a bit. In a decoupled world, don't you want the client to control this kind of stuff? Otherwise the edit links would always be in sort of the same location as the API itself?

[2018-07-31 17:51] martinfrances107 commented on #186
Thank you ❤️

[2018-07-31 17:51] #186 closed

[2018-07-31 19:18] dawehner opened #255 "Fix some react devtools warnings"
[code]

[2018-07-31 19:32] martinfrances107 opened #256 "Add a storybook entry for EntityReferenceAutocomplete"
( https://github.com/jsdrupal/drupal-admin-ui/pull/218 ) Added a new widget

This is just a minor bit of housekeeping - I want to keep things in sync

I am working on this now.

[2018-07-31 20:05] mattgrill commented on #255
Since this is part of NodeForm, I just fixed it here, https://github.com/jsdrupal/drupal-admin-ui/pull/171/commits/1cdcad51e799717ed31465a4a4b15cbe8959c27c

[2018-07-31 20:06] martinfrances107 opened #257 "Missing downshift dependancy"
There has been a mass of commits today ... 🎉

but I think there is a missing dependency, even after a yarn update

When I open up the new file  EntityReferenceAutocomplete.js -- I see this error in my IDE

"unable to resolve downshift" ... here

[2018-07-31 20:09] mattgrill commented on #257
@martinfrances107 It should be available? https://github.com/jsdrupal/drupal-admin-ui/blob/master/package.json#L25

[2018-07-31 20:12] mattgrill commented on #257
Also part of the `yarn.lock` - https://github.com/jsdrupal/drupal-admin-ui/blob/master/yarn.lock#L3282

[2018-07-31 21:30] dcorb commented on #245
Gutenberg from Wordpress could be ported to Drupal ? https://testgutenberg.com/
These guys did it, and they want to talk about it in DrupalEurope https://www.drupaleurope.org/session/introducing-gutenberg-content-editor-drupal-8

[2018-07-31 21:49] dawehner opened #258 "Ensure the order of fields is the same as the form in Drupal"
## Drupal

![image](https://user-images.githubusercontent.com/29678/43489172-fa4ea83a-9513-11e8-8f76-59a847eda4fe.png)

## admin UI

![image](https://user-images.githubusercontent.com/29678/43489189-080d6ce0-9514-11e8-9944-5cd9f1dac437.png)

[2018-07-31 22:02] martinfrances107 commented on #257
You are correct,

Sorry to give you trouble where there is none - my IDE just did not pick up the file change.

Thanks for the quick response.

[2018-07-31 22:02] #257 closed

[2018-07-31 22:29] mattgrill commented on #257
@martinfrances107 Don't even worry. :) :) :)

[2018-08-01 13:28] martinfrances107 commented on #235
Thank you ❤️

[2018-08-01 13:28] #235 closed

[2018-08-01 13:41] martinfrances107 commented on #190
A second example.

While working on the newly added EntityReferenceAutocomplete widget (https://github.com/jsdrupal/drupal-admin-ui/issues/256) I noticed a minor flaw

The widget  property **schema** is assumed to exist without actually requiring it.

see  the use of the variable this.props.schema in the handleInputChange(event)  handler.

schema is completely missing from the propTypes definition

[2018-08-01 14:28] dawehner commented on #257
Wouldn't it be nice if yarn could check of start whether the installed node_modules are the same as the ones registered in the lock file and otherwise ask you to do another yarn install.

[2018-08-01 14:29] #258 closed

[2018-08-01 16:02] dawehner opened #262 "Generate UI metadata dynamically"
Right now UI Metadata is hard coded. It basically contains everything form display related.
Sadly in Drupal this information is stored both in field instance configuration (```field_config```) but also in ```entity_form_display``` configuration.

Let's provide an endpoint which returns, given a bundle and form mode, the necessary settings per field. Ideally it would return the same information as

[2018-08-01 16:09] justafish commented on #262
We also want to register specific front-ends, so this should also accept a consumer ID as some kind of context (e.g. to distinguish between this React app and an Android app).

Here's the current data structure we want to replicate:
https://github.com/jsdrupal/drupal-admin-ui/blob/master/src/components/05_pages/NodeForm/UiMetadata.js

[2018-08-01 16:43] tedbow commented on #262
@justafish I think it would be good if we could use Form modes in Drupal for this. Otherwise we have to build another UI that allows configuring forms per consumer.

So the resource would be something like `/api/entity-form/node/article` for the default form and `/api/entity-form/node/article/short_form` for the `short_form` form mode.

The site builder would still be responsible for configuring t

[2018-08-01 16:49] dawehner commented on #262
I think we should just support the widgets Drupal offers right now. If the apps decide to not implement something, I think falling back to the default widget is something the app can decide by themselves, maybe depending on the schema type. Given that we don't need to know which widgets the app supports inside Drupal. I think this is an okay way, what do you think?

[2018-08-01 17:19] justafish commented on #262
@tedbow I think we should be configuring forms per consumer, otherwise the consumer doesn't know which form to fetch

[2018-08-01 17:25] justafish commented on #262
(and we can definitely punt on building the UI for different consumers and hard code the consumer ID for now)

[2018-08-02 14:24] #255 closed, assigned to nobody

[2018-08-02 16:21] martinfrances107 commented on #178
This is a todo list.

#201 and #196 -- fixed most of the stuff.. 😄

Regarding the content page ... Lighthouse's A11y score has moved from the low forties  to 83/100.

To get 100/100 we need to fix two issues....

1) The input element  inside the 'TITLE" textField needs a aria-label.
2) The actions element which is greyed out until something is selected....but it  is too greyed out in that it now f

[2018-08-02 16:56] martinfrances107 opened #264 "Improve contrast ratio for greyed out buttons."
With regard to the content page.

The operations of the actions pulldown select is "greyed out" until items are selected.

BUT chrome's lighthouse fails a contrast ration test as part of the accessibility checks

I am splitting this off the #178 so that it can be seen by a different audience

It needs a designers touch because some of the solutions I see need a change to the overall look and feel

[2018-08-02 16:59] martinfrances107 commented on #178
In the last PR #263   I fixed only -- half the issues on the todo list.

I opened up  #264 so that we can get input from a graph designer on the best way of fixing todo issue 2.

[2018-08-05 08:32] dawehner opened #265 "Create a snackbar message when content got created/updated"
Once https://github.com/jsdrupal/drupal-admin-ui/pull/171 is in it would be nice to show a message to the user that the content got updated/created using https://material-ui.com/demos/snackbars/#snackbars

I think we should leverage the text from the existing PHP forms:
[code]

[2018-08-06 08:16] lauriii opened #266 "Improve usability of the entity reference widget"
There's some small improvements that could be made for the entity reference widget:

- [x] The field removes the focus after key down meaning that when searching for the entity, user has to re-focus after every added character.
- [ ] Entities already referenced in the field are still visible in the search results when adding more references.
- [x] Unfiltered list of entities is shown when there's

[2018-08-06 13:04] tedbow commented on #262
@justafish I guess understand what the consumer would not know. Would they know entity type node and bundle article? If not what happens when they need different entity types and bundles?

[2018-08-06 13:45] dawehner commented on #266
Thank you for clearly specifying why the behaviour is a bit weird indeed right now.

Do you think this is an issue we could mark as "good first issue"?

[2018-08-06 14:08] dawehner commented on #262
Would it be fine to use the default form display right now?

[2018-08-06 14:16] gabesullice commented on #262
If I understand what this is, I was thinking about something very similar and a way to link to this information from JSON API here: https://www.drupal.org/project/jsonapi/issues/2960550

[2018-08-06 14:45] wimleers commented on #262
(@tedbow brought this up during the API-First Initiative call that just ended.)

Is it really necessary to have a new endpoint for this? All that data is already available for configurable fields. You'd "just" have to request `field_storage_config`, `field_config` and `form_display` config entities separately, and merge the data together. That can be done on the client side too. That information c

[2018-08-06 15:45] mattgrill commented on #251
Alright, #171 has been merged. This is unblocked now.

[2018-08-06 15:58] dawehner commented on #262
Well, my idea is to serve the constrains from within the existing Drupal constrains. The JS side can choose to implement those. Some of them do make sense to be client side (machine name validation or something), but some of them just don't make sense to be client side. Exposing the same metadata though gives the requirement flexibility in the future.

[2018-08-06 16:02] dawehner commented on #251
🎆

[2018-08-06 16:10] dawehner commented on #247
@martinfrances107 it would be super useful if you could try it out again, once #249 is in.

[2018-08-06 16:35] wimleers commented on #262
Sure, as long as there is no intent to allow the list of constraints to be modified.

[2018-08-06 19:32] martinfrances107 commented on #178
There is a side issue for the outstanding issue.

Thank you for looking at this.

[2018-08-06 19:32] #178 closed

[2018-08-07 09:45] lauriii commented on #262
This issue was covered on yesterdays JavaScript weekly meeting (full record of the discussion will be released [here](https://www.drupal.org/project/issues/jsdrupal?status=All&categories=All)).

As part of the discussion, we came to conclusion that as a first step we would proceed with the approach that @mattgrill introduced in #260 because this is the path with least resistance since it only affe

[2018-08-07 10:29] dawehner opened #271 "Fix broken file upload widget"

[2018-08-07 10:49] lauriii opened #272 "Allow users to configure if role has permission to use the admin UI client"
Currently, by default, the admin UI loads for anonymous users but there's some errors because of missing permissions. Since we don't want to add those permissions necessarily to anonymous users, we probably want to restrict some users from using the app all together.

## Proposed resolution
Add new permission "access admin ui client" which is always checked before rendering the admin UI.

[2018-08-07 11:23] lauriii opened #274 "Show human readable label on OptionsSelect widget"
Currently the `OptionsSelect` widget is showing the machine name of the options on the UI. It would be a nice enhancement to show the human readable name in the UI ✨

<img width="158" alt="screen shot 2018-08-07 at 18 21 59" src="https://user-images.githubusercontent.com/1845495/43773104-ce2c5bca-9a6e-11e8-8eeb-5bd6e3d5051f.png">

<img width="202" alt="screen shot 2018-08-07 at 18 22 27" src="http

[2018-08-07 11:31] #271 closed

[2018-08-07 11:44] dawehner commented on #272
Shouldn't we be more defensive in the app code then?

[2018-08-07 12:16] martinfrances107 opened #275 "EntityReferenceAutocomplete needs to enforce mandatory properties"
To my mind EntityReferenceAutocomplete needs a little work before is it a true standalone component/widget.

It relies on the present of the property schema, but is not a required prop type.

I appreciate the concrete is still solidifying arround this widget .. and we are playing around with how things fit together architecturally but without question schema will be required.

In the PR I have tre

[2018-08-07 12:18] dawehner opened #276 "Entity Form: Define a clear behaviour"
## Status quo

When creating the Node Form we do a couple of steps right now

* Fetch the schema
* Based upon the schema we generate a stub entity without any real content. Right now for objects it creates default values for all the keys, no matter whether the keys are required for the object or not
* This stub entity is then used as state of the entity form from there on

## Ideal end behaviour

[2018-08-07 12:25] dawehner commented on #193
Yeah, thank you @VD39 !

[2018-08-07 12:25] #193 closed

[2018-08-07 12:53] martinfrances107 commented on #275
#277

[2018-08-07 17:44] lauriii commented on #272
That is another approach we could take. However, I think this has to do with UX as well. I was wondering why the UI behaves in a strange way, some things missing on the UI and so on and it was because I wasn't logged in. I think this might be confusing for real users as well. Maybe this could be helped by showing the current user information somewhere?

[2018-08-07 19:35] martinfrances107 commented on #275
Thanks

[2018-08-07 19:35] #275 closed

[2018-08-07 21:38] dawehner opened #279 "Let the NodeForm retrieve the UI schema"
As of https://github.com/jsdrupal/drupal-admin-ui/pull/260 we have some bit of logic inside NodeForm to create a UI schema. It would be much nicer if the NodeForm would just know about the generated UI schema, not about the fact that it needs field config / entity form display.

## Proposal

Move this logic into the saga action

[2018-08-07 21:57] dawehner opened #280 "Indicate which fields are required"
Some of the fields are meant to be required to have a valid recipe. For example the image.

## Proposal

Using the required flags on the schema set required on https://material-ui.com/api/form-label/#__next

[2018-08-08 04:51] porkloin commented on #265
I have most of this working, including the following:

- a general purpose snackbar component in the `<Default />` component
- Redux action/reducer for issuing snackbar notifications to the component

However, node save operations don't seem to be working on my local with the a recent code pull (as of 4ish hours ago?) so I'm having some trouble testing issuing a snackbar message on the save operat

[2018-08-08 06:35] lauriii opened #282 "Entity reference widget doesn't take field cardinality limitations into account"
Currently, the entity reference widget doesn't take into account the field cardinality. The widget should support both; single value and array of values that is limited.

For example, the author field should only allow a single value:
![screen shot 2018-08-08 at 13 30 37](https://user-images.githubusercontent.com/1845495/43820208-c64dd5d6-9b0f-11e8-826e-5cc3bed24f63.png)

[2018-08-08 06:41] dawehner commented on #272
I'm wondering whether this is something we could ask the admin UI UX team for feedback. @ckrina, how would we indicate missing permissions for part of the application?

For me adding a permission would be nice temporarily though. As long we aren' the primary UI and think people should opt into it.

[2018-08-08 06:46] lauriii commented on #225
In fact, `FormControl` doesn't work the way I was first expecting. I've now made sure all widgets are wrapped with `FormControl`, unless they only contain a single field that is already wrapped with `FormControl`

[2018-08-08 06:46] #225 closed

[2018-08-08 07:03] lauriii opened #283 "Document the structure followed on the components"
We currently have various styles of defining components.

Examples of different styles:

1. Inside the component folder, there's a file with the same name as the folder. This method causes imports to have the name of the component twice, for example: `import Loading from 'component/Loading/Loading'`.

[code]

2. Inside the component folder, there's a file with the same name as the folder, but ther

[2018-08-08 09:34] ckrina commented on #272
I agree with Daniel with that having a permissions solution would be nice until we aren't the primary UI.
For small interactions with content it's not always needed a complex UI and the frontend solution might be able to handle it without forcing a change of context.

About how to indicate missing permissions, I'd say to show a warning message saying you might face problems because of missing perm

[2018-08-08 11:07] martinfrances107 opened #284 "FileUploadWidget storybook entry has minor problems."
#249 Recently adds lots of improvements

but now when looking at the storybook site I see a few errors injected into the console.

I am just creating a issue before a PR.

[2018-08-08 13:38] martinfrances107 commented on #284
Here is the PR. I have left one class of error unfixed...

fetches to 'localhost:9001/url' but I am planning on trapping them in a separate issue.

[2018-08-08 14:37] tedbow opened #286 "Document the roadmap for the admin_ui_support module for this project"
In relation to https://github.com/jsdrupal/drupal-admin-ui/issues/262 and making decisions on other related issues:
Is there any issue or documentation anywhere about how the Drupal support module fits into the roadmap of the Decoupled Admin UI?

Will sites using the Decoupled Admin UI need this support module and/or other Drupal modules, schemata, json-rpc, etc, that aren’t core?

Or will Decoupl

[2018-08-08 14:49] mattgrill commented on #274
Alright. Had a quick look at this. It doesn't actually look like the human readable names are returned from `schemata`. Additionally, both `entity_form_display` and `field_config` do not return the human readable names.

[2018-08-08 15:33] martinfrances107 commented on #284
Ah crap I made a mistake ... I have created a PR to remove the unwanted dependancy on fetch-mock

[2018-08-08 16:03] martinfrances107 commented on #284
Thanks for the quick response.

[2018-08-08 16:03] #284 closed

[2018-08-08 16:11] lauriii opened #288 "Show error if widget on a entity form is not supported by the client"
At the moment if a widget on a form doesn't exist in the client, it is simply ignored. We should show error on the UI if the form contains a field widget that isn't supported by the client.

[2018-08-08 16:29] wimleers commented on #274
Which human readable name is not being returned by `schemata`? The label of each allowed value in the allowed value list?

Also, why is `schemata` relevant here? Wouldn't this be something one would get by reading the `field_storage_config` config entity?

---

I just created a `field_options` field on `article` `node`s with the same allowed values list as in the screenshot in the OP. `http://d8/j

[2018-08-09 07:30] lauriii opened #293 "Populate uid (author) field automatically"
The current UI auto-populates the uid (author) field. We should implement this for our client as well.

<img width="646" alt="screen shot 2018-08-09 at 14 29 33" src="https://user-images.githubusercontent.com/1845495/43884578-ac76b4b2-9be0-11e8-92ae-0ba0e01b8233.png">
<img width="365" alt="screen shot 2018-08-09 at 14 29 53" src="https://user-images.githubusercontent.com/1845495/43884587-b2f61562-

[2018-08-09 07:34] dawehner opened #294 "How do we deal with field permissions"
##Problem

Right now we do expose sticky/published ... by default, as it appears in the ui schema. Sadly based upon permissions, those fields might not be editable by the user.

## Solution

?

[2018-08-09 07:37] dawehner opened #295 "How do we integrate the moderation module into the admin UI"
## Problem

right now you cannot set the status field directly, because umami uses the moderation module in D8.

## Solution
?

[2018-08-09 07:39] dawehner commented on #293
Nice idea!

[2018-08-09 07:40] dawehner commented on #288
I do agree we should handle this case. Another thing we could do is to somehow fallback to the default widget available for a given field type.

[2018-08-09 07:45] lauriii commented on #288
That would be a nice addition indeed. I think the error message would be good as a first step though.

[2018-08-09 07:45] dawehner opened #298 "Document all useful permissions"
It would be nice to list permissions useful to have when using the app

* "create recipe content"
* "administer content"
* ... maybe more

Let's add this to the README

[2018-08-09 08:16] lauriii opened #300 "Add support for "datetime_timestamp" widget"
Similar to https://github.com/jsdrupal/drupal-admin-ui/issues/157 we need a widget for `datetime_timestamp`. This is used at least by created (Authored on) field.

<img width="307" alt="screen shot 2018-08-09 at 15 16 03" src="https://user-images.githubusercontent.com/1845495/43886814-2685b4f0-9be7-11e8-8a38-f43547b2e73c.png">

[2018-08-09 08:18] lauriii commented on #295
Related to demo; we probably could just disable the content moderation module from the demo if this doesn't get fixed by the time we are doing the demo.

[2018-08-09 08:20] dawehner commented on #272
Maybe as first step we could document at least which permissions are good to have https://github.com/jsdrupal/drupal-admin-ui/issues/298

[2018-08-09 08:33] dawehner commented on #295
That seems an absolute sensible approach!

On Thu, 9 Aug 2018 at 09:18 Lauri Eskola <notifications@github.com> wrote:

[2018-08-09 13:41] martinfrances107 opened #301 "FileUploadWidget: Keep Storybook in sync with component changes"
The latest commit #297 broke the storybook entry for FileUploadWidget ( multiple )

No biggie, just want to keep these things in sync.

I am looking at this now...

[2018-08-09 13:55] justafish opened #302 "The node creation forms don't work in the bundled version of the project"
This is because we can only handle paths under `/admin`

As a quick/temporary solution, could we add a redirect into the `admin_ui_support` module which creates an alias for `/node/add/recipe` to `/admin/node/add/recipe` in Drupal ?

[2018-08-09 13:59] dawehner commented on #302
yeah, let's copy an example in the ```routing.yml``` file and use it for the recipe form. I guess we could start to just overwrite ```node/add/recipe```

[2018-08-09 17:53] mortenson opened #303 "Notify user when content has been successfully created"
When you submit a node form, there should be some kind of notification or success message when the form submission succeeds. I was thinking a redirect to `/admin/content` with a link to view the node in Drupal (its canonical route) would be a good start.

[2018-08-09 17:56] mortenson opened #304 "Bulk operations not disabled after submit"
Currently at `/admin/content`, bulk operations ("Actions") are disabled until content is selected. Once you select content and select an action, I expected the bulk operations to go back to a disabled state but they're still available, which leads to errors.

[2018-08-09 17:58] dawehner commented on #303
Are you sure there isn't an issue for that already?

On Thu, 9 Aug 2018, 18:53 Samuel Mortenson, <notifications@github.com>
wrote:

[2018-08-09 18:13] mortenson commented on #303
@dawehner I could add this as a comment in #276? Not sure.

[2018-08-09 18:26] lauriii commented on #303
I think this is duplicate to https://github.com/jsdrupal/drupal-admin-ui/issues/265

[2018-08-09 18:47] mortenson commented on #303
Looks like it!

[2018-08-09 18:47] #303 closed

[2018-08-10 05:07] #300 closed

[2018-08-10 10:25] #304 closed

[2018-08-10 17:26] mattgrill commented on #274
🤦‍♂️

[2018-08-11 20:11] martinfrances107 commented on #301
I am about to crate a PR

Here is the main misconception, I have unpicked

The fileItem data structure which is passed into the FileUploadWidget

it can be a file data structure or an array of many fileItem data structures

but the change is to recognise the fileItem data structure must carry alternative text on a per item basis.

[code]

Previously the code changes allowed for only one alternativ

[2018-08-11 21:39] progga opened #317 "Minimum PHP version in README file"
Hello,
I was following the instructions in the README to setup drupal-admin-ui locally.  I got told off by composer almost as soon as I got started :(  The root of the trouble is that I am on Debian Stable (AKA Stretch) which is carrying PHP 7.0.x and [doctrine/annotations](https://packagist.org/packages/doctrine/annotations) et al now demands **php ^7.1**.  The otherwise excellent README mentions

[2018-08-11 23:13] dawehner commented on #317
I think we should limit the version of the doctrine library to be as stricter. IMHO following core's PHP version makes sense. What do you think about this alternative proposal?

[2018-08-12 10:30] progga commented on #317
Hello @dawehner

If we want to take this route, we can **drop** jsdrupal/drupal-admin-ui-demo's composer.lock file.  [drupal-composer/drupal-project](https://github.com/drupal-composer/drupal-project) seem to have fathered jsdrupal/drupal-admin-ui-demo and that one does **not** commit its composer.lock file.  Perhaps we shouldn't either.  When composer.lock is absent, composer will install whateve

[2018-08-12 13:29] dawehner commented on #317
Well, an alternative would be setting the requirement on doctrine to ensure this doesn't happen.

I think especially for having a stable environment for testing etc. having a composer.lock is useful.

Note: drupal project doesn't ship with one because they are just a template for your own site.

[2018-08-12 13:41] dawehner commented on #274
This issue is another reason one could use for moving the UI metadata logic to PHP. https://api.drupal.org/api/drupal/core%21modules%21options%21options.module/function/options_allowed_values/8.5.x shows that this could be a dynamic function so we would need some form of dynamic endpoint anyway

[2018-08-13 07:51] dawehner commented on #301
There are basically two ways the value could look like:

### Cardinality 1
[code]

### Cardinality > 1

[code]

[2018-08-13 08:37] progga commented on #317
Okay, to go down this way we will have to pin the following 12 packages to their corresponding versions from [drupal/drupal's composer.lock](https://github.com/drupal/drupal/blob/8.6.x/composer.lock):
- doctrine/annotations: ~1.2.7
- doctrine/cache: ~1.6.1
- doctrine/collections: ~1.3.0
- doctrine/common: ~2.6.2
- doctrine/event-manager: ?
- doctrine/inflector: ~1.1.0
- doctrine/persistence: ?
- d

[2018-08-13 13:01] martinfrances107 commented on #301
Thanks for helping me out with this .... it is much appreciated.

Is the data structure you have provided based on the ideal .. what is expected in core ?
Is is what should be pushed to the server as a json object.?

As a mini experiment I added this debug  so I can see the item being filtered

here is my code snippet. [ NodeForm:render()]

[code]

Visiting the "add recipe" page and uploading  a j

[2018-08-13 13:09] dawehner commented on #317
I'm wondering what others like @justafish @lauriii think about this problem.

[2018-08-13 13:09] dawehner commented on #301
Is is what should be pushed to the server as a json object.?

[2018-08-13 15:10] martinfrances107 opened #319 "NodeForm: warns about initialization."
When I visit

http://localhost:3000/node/add/recipe

I see this warning in the Chrome's devtool console output.

We are relying on the default constructor, and have a getDerivedStateFromProps() method.

I think we need either a static state variable, or a explicit constructor

I see a separate small blemish, in NodeForm

`static getDerivedStateFromProps(props, prevState)
`
 makes use of props.enti

[2018-08-13 16:39] mattgrill commented on #274
I'll probably get this wrapped up today.

[2018-08-13 21:16] martinfrances107 opened #321 "FileUploadWidget: Adjust semantic structure"
In this issue I want to looking at FileUploadWidget and is styling .... after we have dragged images into the active area.

Things are currently working .. but some of the semantic/glue structure is a little awkward.

We make use of material-ui's Card element... with has a set of associated child elements

[code]

I want to use this card template -

1) Give every uploaded file its own card.
2) Rep

[2018-08-13 21:41] progga commented on #317
Just to summarize, here's what we need to decide:
- Given that Drupal 8's minimum PHP requirement is 5.5.9, should jsdrupal/drupal-admin-ui support it or **stick** to PHP 7.1+?  The [PHP requirement page](https://www.drupal.org/docs/8/system-requirements/php-requirements#php_recommended) also says

So there are cases both for and against.
- If we want to support PHP 5.5.9, how do we produce the co

[2018-08-14 01:08] martinfrances107 commented on #266
@lauriii  .. Hi If you think this issue is resolved, would you consider closing it?

We have 60 issues open at the moment... and I am trying to prioritize which one to go for next.

[2018-08-14 01:23] martinfrances107 opened #324 "EntityReferenceAutocomplete: broken accessibility"
Looking at

localhost:9000/http://localhost:3000/node/add/recipe

I see a accessibility bug when running chrome's lighthouse test suite.

Hardcoded into EntityReferenceAutocomplete is the use of a constant id [ the id is fed in as part of a call to this.renderInput() ]

`<Textfield id = "integration-downshift-multiple" />`

This is bad in general but specifically in the case of the add recipe form

[2018-08-14 06:53] VD39 commented on #282
This issue may now be closed.

[2018-08-14 07:46] lauriii commented on #317
I don't think it makes sense to support PHP 5.x anymore since support for them is[ dropped from Drupal core in the next release](https://www.drupal.org/node/2938726). I think it's fine if we only support PHP 7.0 or higher.

[2018-08-14 08:09] dawehner commented on #317
That is a strong point!

[2018-08-14 08:10] dawehner commented on #317
Sadly it doesn't help with the ```doctrine/annotations``` problem, given it requires php 7.1.

[2018-08-14 10:37] dawehner commented on #319
This is resolved now, 🎆

[2018-08-14 10:37] #319 closed

[2018-08-14 10:51] martinfrances107 opened #325 "Second Column Warnings"
I think adding a second column is a good refinement. ( #292  )

Its addition results in a mass of warning dumped into the console logs...

Visit http://localhost:3000/node/add/recipe to see the result.

![secondcolumnwarnings](https://user-images.githubusercontent.com/1259969/44087590-3e406f0c-9fb8-11e8-92fc-537fa93dec82.png)

[2018-08-14 11:10] martinfrances107 commented on #302
Just a little housekeeping ... can this issue be closed?

[2018-08-14 13:14] lauriii commented on #302
This was fixed by #314

[2018-08-14 13:14] #302 closed

[2018-08-14 14:08] #301 closed

[2018-08-14 14:18] #242 closed

[2018-08-14 14:36] lauriii commented on #280
This has been done to fields that are not relationships because of upstream bug: https://www.drupal.org/project/schemata/issues/2991871 so keeping this still open.

[2018-08-14 15:20] martinfrances107 opened #327 "add/recipe -- Border crash"
#326 has just landed and has improved the layout. 🎂

After... I find I am still able the break the design.

On a desktop when I drag the width from maximum to small ... I find the second column text at a certain point can be made to crash into the right hand border wall.
 In the image below the d of promoted and published is affected.

![margincrash](https://user-images.githubusercontent.com/12599

[2018-08-14 15:29] #266 closed

[2018-08-14 15:33] lauriii commented on #266
One of the issues reported in this issue wasn't fixed yet. Should we open another issue for that or re-open this?

[2018-08-14 15:34] lauriii commented on #327
We are not really focusing on the mobile experience yet since the admin UI is mainly used on desktop and it is also most important for our demo. Once we have the final designs ready, we will start focusing on the mobile and other narrow screens.

[2018-08-14 15:58] #245 closed

[2018-08-14 16:00] dawehner commented on #244
Given we want to use redux for this piece, I think this work is blocked on https://github.com/jsdrupal/drupal-admin-ui/issues/251

[2018-08-14 19:36] martinfrances107 commented on #325
I have traced the errors down to the BooleanCheckbox widget...

I can see a few issues...

1) classes is a undeclared property, which must be required, or a sensible default added.
2) We are not following a example template ...

this code snippet from

https://material-ui.com/customization/overrides/#overriding-with-classes

which provides a good template

i```
mport React from 'react';
import Pro

[2018-08-15 05:04] #136 closed

[2018-08-15 08:37] martinfrances107 opened #330 "Storybook: Add sample assets"
When I draw a common line through some issues.. I see I need this intermediate step.

Storybook has mechanisms for mocking the injection of assets that are then input to the component under test/display.

Specifically I want to be able to provide : -

1) Image assets for the FileUploadWidget.
2) Data structures so that the EntitiyReferenceAutocomplete widgets can simulate the selection of say a us

[2018-08-15 10:00] martinfrances107 opened #331 "Wrap BooleanCheckBox in a FormControl element"
I am splitting off a small side issue from

#325 Second Column warning

This warning is not like the others

React does not recognize the `fullWidth` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `fullwidth` instead. If you accidentally passed it from a parent component, remove it from the DOM element.

fullWidth is a FormCont

[2018-08-15 12:47] martinfrances107 opened #333 "FileUploadWidget: Invalid prop definition for multiple uploads"
Regarding Chrome console log : -

a)  localhost:9000/add/recipe
b) Also the two storybook sections for the FileUploadWidget

This is a sister issue to

#331 which moves a fullWidth property up into a FormControl

#325 Which will fix a  recurring key issue.

[2018-08-15 13:11] martinfrances107 commented on #327
@lauriii .. No problem. I am just dumping my personal todo list onto the public issue tracker..

I am munching my way through the issues I create.... just slowly.

[2018-08-15 15:32] martinfrances107 opened #334 "Storybook: Apply interactivity consistently"
While thinking about ways to proceed with (#330) -- adding storybook assets - this side issue because obvious.

We have existing interactivity...

If you look at the storybook entry for the Message element... on the knobs panel, it is possible for the user to interact with and therefore alter the text.

This issue is a single minded thought...

Other minor changes

1) DatetimeTimestamp -- now has

[2018-08-15 20:17] martinfrances107 commented on #325
This issue  has been resolved by #337

[2018-08-15 20:17] #325 closed

[2018-08-15 22:13] dawehner commented on #334
w00t

[2018-08-15 22:13] #334 closed

[2018-08-16 06:55] dawehner commented on #321
@martinfrances107 @ckrina send me this monosnap: https://monosnap.com/file/Mjd3GBGZ5F2GFvYHIq1OoCCFgX8oJO which is not necessarily complete, but I think keeping the files where they are make sense

[2018-08-16 11:54] lauriii opened #340 "Saving content with empty file field causes an error even when the field is optional"
I get the following error if I try to save an entity without any attachments in the image field:
<img width="817" alt="screen shot 2018-08-16 at 18 53 12" src="https://user-images.githubusercontent.com/1845495/44206977-b7bae000-a185-11e8-9074-2d8639df8f0c.png">

If I add an image to the field, this error doesn't occur.

[2018-08-16 11:56] lauriii opened #341 "Saving new article nodes fails to an error"
I tried to create an article node with https://github.com/jsdrupal/drupal-admin-ui/pull/339 which leads into an error while saving the node:

<img width="1048" alt="screen shot 2018-08-16 at 18 55 08" src="https://user-images.githubusercontent.com/1845495/44207045-f2bd1380-a185-11e8-8230-aa840474ae87.png">

[2018-08-16 11:57] martinfrances107 opened #342 "/node/add - ul elements need a set of li children"
Screenreaders are very sensitive to the DOM structure of ol, ul elements

Failure to maintain  a ul li parent-child relationship breaks accessibility.

At the moment we only have a set of A elements as the direct children of a UL element

The images below shows that the axe report for the /node/add page.

It needs a little TLC.

![axeulissue](https://user-images.githubusercontent.com/1259969/44206

[2018-08-16 14:08] lauriii commented on #341
Fixed by #343

[2018-08-16 14:08] #341 closed

[2018-08-16 15:30] martinfrances107 commented on #342
Thank you, for the rapid response as always. 💯

[2018-08-16 15:30] #342 closed

[2018-08-16 15:44] martinfrances107 commented on #333
I have changed the title because this is now effectively a follow up to #337 .

It fixes issues that remain for the case of multiple files uploads.

[2018-08-16 15:50] martinfrances107 commented on #264
Here is a screenshot showing "Actions"  low contrast ratio.

![actionsfailscontrastratiotest](https://user-images.githubusercontent.com/1259969/44219612-6eae6000-a174-11e8-990a-6a7a361f4cb5.png)

[2018-08-17 07:41] dawehner commented on #244
As first step I think it would be a bit easier to just support restoring the node add forms. The logic when to ask users to restore the node edit forms is a bit tricky, given someone else might have updated the node in the meantime.

I put some code into https://github.com/dawehner/drupal-admin-ui/tree/issue-254 but it doesn't yet cover any localStorage logic, but rather just stores and fetches no

[2018-08-17 08:34] lauriii commented on #244
@dawehner couldn't we as a first step just store the autosave time and compare that to the entity changed time?

[2018-08-17 10:16] dawehner commented on #244
@lauriii Sure, well all I'm saying is that you could finish add support and then do the edit support separately, which might be enough for the demo.

[2018-08-17 10:17] lauriii commented on #244
Agreed!

[2018-08-17 13:14] lauriii opened #352 "How do outbound path processing on the application"
Drupal Core has `Drupal\Core\PathProcessor\OutboundPathProcessorInterface` which essentially allows rewriting paths for links being rendered on the page. Should we support this in the application? Should it be a separate API or should we try to somehow leverage the pre-existing APIs?

This issue might not be that important, given that paths don't play as big of a role in the admin UI.

[2018-08-17 13:15] lauriii commented on #295
It seems like https://www.drupal.org/project/jsonapi/issues/2822768 is at least blocking this. Would be great if we could write down any other considerations on this issue.

[2018-08-17 17:37] martinfrances107 commented on #330
I have considered this some more and had a brain wave.

The EntityReferenceAutocomplete widget can be put through its paces fully without mocking URL fetches.

... so can the FileUploadWidget

[2018-08-17 17:37] #330 closed

[2018-08-17 18:32] mattgrill commented on #251
* [ ] Posting fails right now because it sends the status field which is not allowed to be sent due to workflow moderation. Ideally the PATCH would just POST changed fields
* [ ] Ensure saving actually works

[2018-08-17 18:33] mattgrill commented on #274
This is effectively complete in #336, however blocked on recent CI issues.

[2018-08-17 22:02] void-- opened #355 "d.o dev release so folks can use simplytest.me"

[2018-08-18 17:41] progga commented on #317
I am assuming we have been unable to reach a conclusion regarding the minimum PHP version.  I will maintain status quo and close this ticket shortly.

[2018-08-18 17:47] martinfrances107 opened #356 "Reducer type error."
Error when visiting

 http://localhost:3000/node/add

as seen in the Chrome's console logs

index.js:2178

uncaught at loadContentTypes TypeError: action.payload.contentTypes.data.reduce is not a function
    at ./src/reducers/application.js.__webpack_exports__.a

[2018-08-19 07:12] francescopersico commented on #356
I can't reproduce this bug. No console error on http://localhost:3000/node/add.

[2018-08-19 18:17] francescopersico commented on #356
Got the cause of the problem. Going to fix it.

[2018-08-20 07:35] lauriii commented on #355
Duplicate to https://github.com/jsdrupal/drupal-admin-ui/issues/206

[2018-08-20 07:35] #355 closed

[2018-08-20 08:39] dawehner commented on #206
If someone wants t work on it / has a proposal how to achieve it quickly, even if it is hacky, please come forward.

[2018-08-20 08:40] dawehner commented on #317
Wasn't our conclusion to support 7.0.x?

[2018-08-20 09:15] justafish opened #360 "dist_demo job "fails" on master because it has nothing new to commit"
https://circleci.com/gh/jsdrupal/drupal-admin-ui/5393
https://github.com/jsdrupal/drupal-admin-ui/blob/master/.circleci/config.yml#L242

[2018-08-20 09:55] vishalchandna1 opened #361 "Set ignoreCase to false in eslint rules - react/jsx-no-duplicate-props"
An error is received if there are two props with same name but different cases -
e.g
`<TextField>` receives two different type of props
1. `InputProps`
2. `inputProps`
They both are different but I still get the following error
No duplicate props allowed  react/jsx-no-duplicate-props

<TextField> API - https://material-ui.com/api/text-field/

So we need to add a new rule in eslint to avoid any kin

[2018-08-20 10:07] progga commented on #317
Thanks for the clarification @dawehner .  In that case I will raise another pull request with the following changes:
- Updated PHP version in the README file.
- A composer.**lock** file **regenerated** under PHP 7.0.8

Does that sound okay?

[2018-08-20 10:53] vishalchandna1 commented on #283
@lauriii  I understand that, so are we going to implement index.js (Like AddContent) for every component?
WIth this implementation index.js for each component would act as redux state injection for the corresponding component, which is good.

[2018-08-20 12:54] justafish commented on #360
This is now fixed https://circleci.com/workflow-run/4a66cd5a-82cb-4c6e-a9f9-e61555920e6a

[2018-08-20 12:54] #360 closed

[2018-08-20 16:12] #274 closed

[2018-08-20 19:31] martinfrances107 opened #364 "Storybook: OptionsSelect 'allowed_values' needs updating"
Options select was recently updated #274

I am not sure if it is connected but the storybook entry needs to be updated.

![optionsselectstorybook](https://user-images.githubusercontent.com/1259969/44362083-dab3ff80-a4b7-11e8-9aee-5b520f769d5f.png)

[2018-08-20 20:04] martinfrances107 opened #365 "AddContent page overspecifies CSS"
I have just spotted a minor err that I introduced in #344.

I over specified the CSS ...

display:inherit

it can be removed and is registering as  a 'No effect'  issue on a CSS linter I am running.

PR is coming.

[2018-08-21 08:47] #364 closed

[2018-08-21 08:47] dawehner commented on #364
Thank you so much for carrying about the storybook

[2018-08-21 11:50] rahulsavaria commented on #324
Hi @lauriii,

I would like to work on this issue, can you please assign it to me.

Thanks

[2018-08-21 12:08] vishalchandna1 opened #374 "Type errors on /node/add/page & /node/add/recipe"
Facing type errors

`/recipe`

<img width="599" alt="recipe" src="https://user-images.githubusercontent.com/13252288/44400458-d8f64480-a568-11e8-8190-3a92a36801bc.png">

`/page`

<img width="531" alt="screen shot 2018-08-21 at 6 15 00 pm" src="https://user-images.githubusercontent.com/13252288/44402244-cbdc5400-a56e-11e8-9a05-8b813af7cad3.png">

<img width="599" alt="page" src="https://user-images

[2018-08-21 12:15] #324 closed

[2018-08-21 12:15] dawehner commented on #324
@rahulsavaria Note: This issue is resolved already :)

[2018-08-21 12:26] lauriii opened #375 "Create new function to show error message"
Currently adding error messages is a bit tedious compared to how many places are setting error messages.

Current syntax:
[code]

Add a new function to make this easier:
[code]

Which should lead into same end result as the current syntax.

[2018-08-21 12:35] #365 closed

[2018-08-21 12:38] rahulsavaria commented on #374
Hi @lauriii,

I would like to work on this issue, can you please assign it to me.

Thanks

[2018-08-21 13:35] dawehner commented on #374
@rahulsavaria Feel free to work on it already. I invited you to the github org, which is needed first before we can assign you.

[2018-08-21 14:17] vishalchandna1 opened #377 "Separate out the api.js utils hard-coded strings to a separate JS constant file."
Remove the hard-coded strings from utils/api/api.js with constants.

[2018-08-21 14:17] vishalchandna1 commented on #377
I am taking this up.

[2018-08-21 14:38] mattgrill opened #378 "Create entity structure scaffolding at the NodeEdit or NodeAdd component level."

[2018-08-21 16:07] lauriii commented on #251
https://github.com/jsdrupal/drupal-admin-ui/pull/379 fixes this 🎉

[2018-08-21 16:07] #251 closed

[2018-08-21 16:08] mattgrill opened #380 "Upgrade JSON API to the 2.x branch."

[2018-08-21 16:09] mattgrill commented on #380
Lets postpone this till after the Drupal Europe work is complete and the demo is recorded.

[2018-08-21 16:54] lauriii opened #381 "UX of creating a new node is confusing"
### Summary
Currently, when you create a new node, the application keeps you on the node creation form but all of the form values remain same. For a user, it might be easy to assume that if you make changes to the content and save it, it would edit the content you just created. However, currently, that is not the case; instead, the system creates another completely new node.

### Proposed solution

[2018-08-21 17:15] lauriii opened #383 "Attached file is not retrieved when file field only allows uploading a single field"
It seems like attached files are not retrieved when file field only allows uploading a single field. This can be tested for example with article content type using umami.

Steps:
1. Create new article with image and save
2. Go to edit the created node - the image field should be empty
3. Visit the node edit on the legacy admin UI and see that the image is attached

This doesn't affect the Drupal E

[2018-08-21 17:24] lauriii opened #384 "Saving nodes without image on image field when cardinality is set to 1 causes an error"
On Umami installation profile the article node type has image field with cardinality set to allow uploading single image. If a user doesn't upload an image to that field and tries to save a node, it causes the following error:
![screen shot 2018-08-22 at 00 17 37](https://user-images.githubusercontent.com/1845495/44417916-22628600-a5a1-11e8-8082-fd1ac2b2e8de.png)

The field is not configured to be

[2018-08-21 17:27] lauriii opened #385 "Fetch the human readable label for bundles instead of using the machine name"
Currently, at least in a few places, we use the machine name of a bundle in the UI. Instead of relying on showing the machine name of the bundle, we should fetch and show the human readable label.

[2018-08-21 17:49] lauriii opened #386 "HTML in formatted text saved in the app doesn't render correctly"
If you save formatted text in the admin UI app, it doesn't get rendered correctly in Drupal.

For example, following content:
![screen shot 2018-08-22 at 00 48 44](https://user-images.githubusercontent.com/1845495/44419368-2690a280-a5a5-11e8-992d-4a0103f10857.png)

Renders like this in Drupal:
![screen shot 2018-08-22 at 00 46 35](https://user-images.githubusercontent.com/1845495/44419359-1c6ea400

[2018-08-21 17:52] lauriii commented on #340
Duplicate to https://github.com/jsdrupal/drupal-admin-ui/issues/384

[2018-08-21 17:52] #340 closed

[2018-08-21 18:20] lauriii commented on #293
This now works in the scope of the demo, but we should extend this to work with other users as uid 1.

[2018-08-21 19:05] #265 closed

[2018-08-21 19:05] mattgrill commented on #265
I'm pretty sure this is complete now.

[2018-08-22 06:47] martinfrances107 commented on #256
Thank you.

[2018-08-22 06:47] #256 closed

[2018-08-22 07:44] lauriii commented on #381
It seems like there are still some issues. We probably should for example also show a message that the content was created. Also, the redirect is done before the content has been added, meaning if there's an error, the data on the form is lost. It is also confusing that the newly added content doesn't show up on the content list after the redirect.

![node_creation_workflow](https://user-images.gi

[2018-08-22 07:46] dawehner commented on #282
Indeed, thank you for your PR!

[2018-08-22 07:46] #282 closed

[2018-08-22 09:06] lauriii opened #389 "Ensure that snackbars shown one by one"
[According to Material UI style guide](https://material-ui.com/demos/snackbars/), snackbars can be only shown one at a time. Currently, if multiple messages are dispatched simultaneously, they are all shown at once. Change the logic that only one snackbar is shown at once.

![screen shot 2018-08-22 at 16 03 40](https://user-images.githubusercontent.com/1845495/44454259-3c45ac80-a625-11e8-9917-a656

[2018-08-22 10:00] abhaykumar1415 commented on #389
i want to work on this issue.. thanks

[2018-08-22 10:04] martinfrances107 opened #390 "Storybook: Update component properties"
Recent changes have tightened up the required properties.

Our storybook entry need to be updated..

no biggie.

[2018-08-22 10:08] martinfrances107 commented on #390
I am going to include, the fact that DatetimeTimestamp needs a tune up.

[2018-08-22 10:48] martinfrances107 commented on #390
Same goes for

checkPropTypes.js:19 Warning: Failed prop type: Invalid prop `value.data` supplied to `FileUploadWidget`.
    in FileUploadWidget

[2018-08-22 11:01] martinfrances107 commented on #390
Also

checkPropTypes.js:19 Warning: Failed prop type: Invalid prop `value` of type `string` supplied to `NumberTextfield`, expected `number`.
    in NumberTextfield

[2018-08-22 15:20] martinfrances107 commented on #390
Thanks ...

[2018-08-22 15:20] #390 closed

[2018-08-22 17:23] lauriii opened #394 "Populate created timestamp automatically"
The authored on timestamp is currently by default empty. The current UI autogenerates this value and I think we should do the same here.

<img width="913" alt="screen shot 2018-08-23 at 00 15 05" src="https://user-images.githubusercontent.com/1845495/44479394-b2b8cd80-a66a-11e8-9fad-525fcd8288a7.png">
<img width="395" alt="screen shot 2018-08-23 at 00 22 28" src="https://user-images.githubusercont

[2018-08-22 17:30] lauriii opened #395 "Add validation for required fields"
We show information about required fields in the UI but we don't actually validate them. Add some validation to required fields so that posting entities without required fields filled isn't possible. This should take into account the required fields on the node, but also on the relationships. For example, alt text is required when uploading images.

[2018-08-23 07:10] vishalchandna1 opened #398 "Types error on /node/:id/edit page"
Edit a node and click on the `save` button to save the changes. A warning message is received the implying type errors.

<img width="511" alt="screen shot 2018-08-23 at 12 38 09 pm" src="https://user-images.githubusercontent.com/13252288/44510195-90a66600-a6d1-11e8-8a50-9dbd3f2a1331.png">

[2018-08-23 15:45] #389 closed

[2018-08-23 15:47] lauriii commented on #385
There's now an example of how this could be done. See usages of `mapContentTypeToName` for more info.

[2018-08-23 15:47] #356 closed

[2018-08-23 15:48] #394 closed

[2018-08-23 15:55] mattgrill commented on #293
Lets revisit this once we migrate to JSON API 2.x which should get us the actual user.

[2018-08-23 16:57] lauriii opened #402 "Add select all checkbox for the content listing"
Would be great if it would be possible to select all pieces of content at once on the content listing. We could just add a checkbox into the header of the checkbox column that selects all the pieces of content currently on the page.

[2018-08-23 16:58] lauriii opened #403 "Show confirmation dialog before bulk deleting content"
We have the confirmation dialog already working when deleting a single piece of content on the content list. However, when deleting multiple pieces of content, there's no confirmation which is a bit awkward.

[2018-08-24 07:05] dawehner opened #406 "Changing a date field leads to a fatal"
[code]

[2018-08-24 08:14] dawehner opened #408 "Umami patch no longer applies"
There is a patch which ensures that umami doesn't use workflow, as we don't support it yet

Sadly this patch currently doesn't apply:
[code]

[2018-08-24 09:58] anandtoshniwal opened #409 "Checkbox state checked, unchecked not reflecting on UI with respect to it's value"
e.g on node edit,add page Promoted to front page, Sticky at top of lists and Published are coming from the backend but UI changes are not reflecting
![screen shot 2018-08-24 at 3 26 29 pm](https://user-images.githubusercontent.com/15143023/44578838-40530500-a7b2-11e8-9b9a-0770a6361149.png)
![screen shot 2018-08-24 at 3 27 00 pm](https://user-images.githubusercontent.com/15143023/44578841-40eb9b80-

[2018-08-24 10:00] anandtoshniwal commented on #409
Hi @lauriii,
I would like to work on this issue. can you please assign this to me?

[2018-08-24 14:15] dawehner commented on #402
We have this feature now

[2018-08-24 14:15] #402 closed

[2018-08-24 14:15] dawehner commented on #403
This got fixed, thank you @mattgrill

[2018-08-24 14:15] #403 closed

[2018-08-24 14:18] dawehner commented on #406
https://github.com/jsdrupal/drupal-admin-ui/pull/407/files fixed this

[2018-08-24 14:18] #406 closed

[2018-08-24 14:25] dawehner commented on #384
I think this is a duplicate of https://github.com/jsdrupal/drupal-admin-ui/issues/395 isn't it?

[2018-08-24 14:57] lauriii commented on #384
No, this is not duplicate for that. This bug is separate.

[2018-08-24 15:03] dawehner commented on #384
Oh I see, one is for attributes and one is for relationships?

On Fri, 24 Aug 2018 at 15:57 Lauri Eskola <notifications@github.com> wrote:

[2018-08-25 08:53] martinfrances107 commented on #408
While I am working on this I am providing a little context

When I reroll this patch on D8.7.x

Anyway it is not immediately clear to me which core patch broke our stuff,  I have yet to do the appropriate binary search and git blame thing.. but I will sort this out this weekend...

[2018-08-25 10:02] martinfrances107 commented on #408
I have moved the patch to the upstream repository

[2018-08-26 11:34] martinfrances107 opened #412 "Resolve jsonapi issues"
Here are the results of

composer create-project jsdrupal/drupal-admin-ui-demo -s dev --prefer-source

  Problem 1
    - Installation request for drupal/jsonapi 1.15.0 -> satisfiable by drupal/jsonapi[1.15.0].
    - justafish/drupal-admin-ui-support dev-master requires drupal/jsonapi ^1.22 -> satisfiable by drupal/jsonapi[1.x-dev].
    - Can only install one of: drupal/jsonapi[1.15.0, 1.x-dev].

[2018-08-26 20:22] francescopersico opened #414 "Setting content author doesn't work"
Author field seem not working

1. Go to http://localhost:3000/node/add/article
2. Remove 'admin' as author
3. Than try to add another author
4. The new author get removed from the input field

![author](https://user-images.githubusercontent.com/15610456/44632703-99bc5f00-a97f-11e8-9ff8-7f42d609f9ed.gif)

[2018-08-27 08:42] vishalchandna1 opened #416 "Confirmation Dialog Inappropriate template nesting"
A warning message is received when confirmation dialog template is rendered which is `<ul>` cannot be descendent of `<p>`

<img width="733" alt="screen shot 2018-08-27 at 1 08 23 pm" src="https://user-images.githubusercontent.com/13252288/44650014-29572180-aa03-11e8-9048-fed1236ade12.png">

[2018-08-27 11:19] vishalchandna1 opened #418 "EntityReferenceAutocomplete: Add Autocomplete attribute"
Add `autoComplete` attribute in EntityReferenceAutocomplete.js to control the HTML5 browser built in autocomplete feature.

[2018-08-27 11:28] vishalchandna1 commented on #361
It won't be needed as we have a workaround for multiple props.
Here is the link - https://github.com/mui-org/material-ui/issues/10064
Closing this issue.

[2018-08-27 11:28] #361 closed

[2018-08-27 11:49] #375 closed

[2018-08-27 11:57] dawehner opened #420 "Add unit test coverage for fieldItem.js"
As we've seen in https://github.com/jsdrupal/drupal-admin-ui/pull/415/files fieldItem.js can break.

Let's write some unit test coverage for it. ```src/utils/api/schema.test.js``` is an example of one of those

[2018-08-27 12:58] dawehner commented on #244
Unassigning myself in case someone wants to take over the edit restore logic.

[2018-08-27 15:39] mattgrill opened #421 "Content confirmation dialog contains incorrect styles."
Part of the confirmation dialog contains unstyled text. This looks like it's due to the removal of `<DialogContentText />`

![content](https://user-images.githubusercontent.com/1090713/44669400-a3bc7d00-a9d4-11e8-8984-966a95f550fa.png)

[2018-08-27 16:45] VD39 opened #422 "Multi-delta wrapper follow up"
We need to update the drag and drop functionality of the multi-delta wrapper.

Issues to fix:

- Prevent the dragging from outside container.
- Remove ghosting/transparency and display whole element.

It might be best to use an existing library for this: https://github.com/clauderic/react-sortable-hoc

[2018-08-27 16:45] VD39 commented on #422
I will work on this.

[2018-08-27 16:49] #195 closed

[2018-08-27 18:25] martinfrances107 commented on #412
after a composer cache-clear ... I can no longer repeat this.

[2018-08-27 18:25] #412 closed

[2018-08-27 21:56] dawehner opened #424 "Drupal Europe discussion plan"
Here are a couple of questions we should maybe try to address during Drupal Europe

* How to collect feedback from people related to the demo?
* How will we integrate the app into Drupal? How to get feedback and signoff from the core maintainers?
* How can we improve the test coverage?
* Roadmap and the goals for the next 6 months / 12 months
  * Some ideas:
    * Media integration
    * Creating

[2018-08-27 22:00] dawehner commented on #383
I do have the article form just allowing one item and it works as expected. I think we can close this issue down :)

[2018-08-27 22:00] #383 closed

[2018-08-27 22:02] dawehner commented on #386
Yeah, this got resolved too :)

[2018-08-27 22:02] #386 closed

[2018-08-27 22:03] dawehner commented on #333
The current list of proptypes seem to not longer come from the ```FileUploadWidget```. Given that I'll close this :)

[2018-08-27 22:03] #333 closed

[2018-08-27 22:06] dawehner commented on #352
Let's first gather the usecases people had

* Nicer URLs for the user in the frontend: ```/forum/${id}``` instead of ```/taxonomy/term/${}```
* Nicer URLs for search engines

Given that our usecases aren't any of those, so far I can't see a big reason why we would need this.

[2018-08-27 22:14] #414 closed

[2018-08-27 22:14] #418 closed

[2018-08-27 22:30] dawehner commented on #378
I'm gonna give this a try :)

[2018-08-27 23:03] dawehner commented on #295
I'm confused why https://www.drupal.org/project/jsonapi/issues/2822768 would block this

From my perspective a potential content moderation integration would require some of those steps

* Define a new field widget, much like ```content_moderation``` does itself
* The possible moderation states are currently not exposed
* The possible moderation states for a given state of entity isn't exposed

[2018-08-28 06:39] #398 closed

[2018-08-28 10:44] anjiv commented on #421
Hi @mattgrill ,
I would like to work on this issue. Can you please assign this to me ?

[2018-08-28 17:04] vishalchandna1 commented on #374
@dawehner  It actually requires the change from the Drupal side. As you can see the `promote` attribute in the response is an integer but it should be a boolean as defined in our props.

@rahulsavaria  is already working on it, so we can expect its PR soon :)

[2018-08-28 20:48] mattgrill commented on #424
- Field level constraints.

[2018-08-28 21:14] #384 closed

[2018-08-28 23:55] mattgrill commented on #395
I think this is complete since both the linked issues are fixed.

[2018-08-28 23:55] #395 closed

[2018-08-29 06:40] vishalchandna1 opened #430 "Multiple Fields validations issue and incorrect mapping"
<img width="1051" alt="screen shot 2018-08-29 at 1 32 26 am" src="https://user-images.githubusercontent.com/13252288/44770001-2899c900-ab84-11e8-8010-d2e85f33f1cd.png">

1. A validation needs to be added when checking out the multiple fields values. The whole object i.e `values` props needs to be validated (currently we are validating only the length as `values.length`)

2. The mapping must be don

[2018-08-29 07:31] dawehner opened #432 "How much data should we provide to be restored"
https://github.com/jsdrupal/drupal-admin-ui/pull/429 and https://github.com/jsdrupal/drupal-admin-ui/pull/357 introduced a feature which allows to automatically "save" content on the client and restore it later.

The way it works right now would blow up local storage over time, which isn't ideal, as for example it would no longer store it.

[2018-08-29 08:00] #244 closed

[2018-08-29 10:04] martinfrances107 opened #433 "Reduce complexity: One Dialog element per table."
Regarding the OpsModalButton, I think I casually introduced a pattern which is responsible for slow page loading which I now want to refactor.

The current problem is that we have one hidden dialog associated with every table row, or for every button

Each DIALOG is a structure with 12 base html element ( BUTTON, DIV, P,, SPAN etc )

This has scaling problems, currently the list content page has 1

[2018-08-29 13:01] anandtoshniwal commented on #129
Hi @lauriii,
I would like to work on this issue, can you please assign it to me?

[2018-08-29 13:07] dawehner commented on #433
I would measure first here :) measure what it takes to render right now,
make improvements and look at it again. I think conceptually what you write
make sense and rendering less Dialogs would help a lot.

On Wed, 29 Aug 2018, 11:04 martin frances, <notifications@github.com> wrote:

[2018-08-29 13:56] martinfrances107 commented on #433
With the next iteration I will provide timing evidence .. good or bad.

But by way of providing supporting evidence -- I want to advance the line that we should do this even if the timing is not significantly improved - because of scaling concerns.

Chrome's lighthouse auditing tools: in the performance section. There are comments about an overly complicated DOM structure

The total number of DOM

[2018-08-29 15:11] mattgrill opened #435 "Move schema fetching from NodeForm to parent components."
Currently, `NodeAdd` fetches the schema for `NodeForm`, however `NodeEdit` does not. There are some complications around this since we don't capture the `bundle` for editing existing content.

[2018-08-29 19:05] martinfrances107 commented on #433
just binding this issue to the PR #434

[2018-08-30 07:31] anjiv opened #437 "TypeError on widgets."
<img width="992" alt="screen shot 2018-08-30 at 12 54 14 pm" src="https://user-images.githubusercontent.com/25002064/44836174-d1632980-ac53-11e8-9773-9fc16c11089f.png">

[2018-08-30 08:12] vishalchandna1 opened #440 "Cut - off unnecessary API hits for title filtering on Content page"
For the title filtering on content, a request is fired on every character change which is unnecessary and creating a stuttery user experience while typing. e.g If I need to search a title `baking` then it would fire 6 API requests ['b', 'ba', 'bak', 'baki', 'bakin', ''baking'] and it doesn't make sense to fire off all the requests to reach our end goal.
![baking](https://user-images.githubusercont

[2018-08-30 08:17] anandtoshniwal commented on #129
Hi @lauriii, @dawehner, @mattgrill
I debugged this issue and found out the following things

1. The timezone value is coming from the backend.. currently, it's showing its value null because in table "user_field_data" timezone values are not set by default.
2. Go to user edit page and save the form.
3. Hit the user JSON API, you will be able to see the user timezone value in the response.
4. In JS

[2018-08-30 09:14] martinfrances107 commented on #408
I think I have now fixed the problem.

[2018-08-30 09:43] vishalchandna1 commented on #440
**Without optimizations**
https://drive.google.com/file/d/1E7QPmaLCdYLLz1UvCpSuIM8SDiukJPLD/view
**With Optimizations**
https://drive.google.com/file/d/1JG3L5-lCX50W2qA2x32rwv73u6Du4eSF/view

If you also see, the loading is also consistent with delay and it doesn't go back and forth when a user is typing.

[2018-08-30 09:57] dawehner commented on #440
This is much nicer! Thank you @vishalchandna1
Do you think half a second is okay in terms of waiting time? I would have expected a lower number to be honest.

[2018-08-30 10:06] vishalchandna1 commented on #440
Yep, we can do some experiments here to find the optimum value.

[2018-08-30 10:45] dawehner commented on #408
Yeah! Thanks a ton!

[2018-08-30 10:45] #408 closed

[2018-08-30 11:34] vishalchandna1 commented on #440
@dawehner  I have experimented with it a lot and we can go for 400ms. Going below that may cause a few more API calls than usual, which depends on the typing speed of the user.
It works seamlessly, Even with 500ms the delay is noticeable at all. I have updated the PR with 400ms too :)

[2018-08-30 11:43] anandtoshniwal opened #442 "Error messages not rendering properly for File upload widget"
Steps to reproduce

Add any format which is not acceptable, you will see the errors as below
![screen shot 2018-08-30 at 5 12 49 pm](https://user-images.githubusercontent.com/15143023/44849514-fbc6de00-ac77-11e8-9492-12856319b2d6.png)

[2018-08-30 11:47] dawehner commented on #442
Oh nice finding

[2018-08-30 11:47] anandtoshniwal commented on #442
Hi @dawehner ,
Already started working on this, can you please assign it to me ?

[2018-08-30 11:51] martinfrances107 commented on #416
@vishalchandna1 , hi I think this issue can be closed now...

[2018-08-30 12:12] #416 closed

[2018-08-30 12:37] anjiv commented on #437
@dawehner I have updated the PR and added the documentation for object shape. Thanks for the heads up regarding the documentation :)

[2018-08-30 14:11] lauriii opened #444 "The content creation message doesn't request content types from the API"
On the content creation message contains the human-readable label of the content type. If the value exists in the store, the message is rendered correctly. However, if the content types are not in the state, the message is not rendered correctly.

![screen shot 2018-08-30 at 21 08 41](https://user-images.githubusercontent.com/1845495/44857062-2e350300-ac99-11e8-8dd6-cace49f0e9ea.png)

[2018-08-30 14:53] martinfrances107 commented on #433
The arguments I have been making about Lighthouses code complexity need correction

When I compare the audit reports for the before and after, the complex and the simplified.

I see that the count is the same 745 nodes.

The javascript is downloaded, parsed executed and before the creation of the DOM tree. But only element visible on the screen are added to the tree.

So the 745 comes from what is

[2018-08-30 16:42] martinfrances107 commented on #433
I don't think this refinement will drive the complexity score in the direction that matters.

@dawehner thank you for following along and asking questions -

but this can be closed.

[2018-08-30 16:42] #433 closed

[2018-08-31 11:08] #442 closed

[2018-08-31 12:14] vishalchandna1 commented on #444
Working on this issue.

[2018-09-07 10:12] mattgrill commented on #293
@martinfrances107 JSON API 2.x has had a release, however we are not depending on it in the support module.

[2018-09-07 10:15] mattgrill commented on #380
@martinfrances107 We probably don't want to close this. JSON API has ad a 2.x release and Drupal Europe is next week (from writing this), so we should probably attempt to the upgrade then.

[2018-09-07 20:51] martinfrances107 opened #456 "MultipleFields - A11y adjust DOM structure"
http://localhost:3000/node/add/recipe

This issue came to light while running

REACT_APP_AXE=true yarn start

Regarding A11y -   In general when parsing a "UL" structure - the children are limited to a set of tags like "LI" and "SCRIPT" tags.

The parallel in react is that the children of a "LIST" element must come from a small set of elements like "LISTITEM" etc.

Regarding the MultipleFIelds wid

[2018-09-07 22:03] martinfrances107 opened #458 "A11y: Label for the select all checkbox"
For the MultipleFields widgets the number of INPUT elements is dynamic.

In terms of HTML DOM structure there is a standard pattern for this case

[code]

Where are almost there.... the PR will be only a few lines of adjustment.

[2018-09-08 00:34] dawehner commented on #458
Nice point!

[2018-09-12 11:53] dawehner commented on #437
Thank you @anjiv

[2018-09-12 11:53] #437 closed

[2018-09-12 11:54] mattgrill commented on #432
@dawehner Do we make sure to remove the data from local storage if they choose to restore it?

[2018-09-12 12:07] dawehner commented on #432
Well, there is that but also storing content by entity ID increases the
storage too much potentially

On Wed, 12 Sep 2018, 13:54 Matthew Grill, <notifications@github.com> wrote:

[2018-09-12 13:15] balsama opened #460 "Place `justafish/drupal-admin-ui` in a more standard location"
Right now, `justafish/drupal-admin-ui` is placed in `docroot/vfancy` and needs some special instructions in the root composer.json file to make it end up there. Would it be possible to refactor the app so that it looks for that code in `docroot/libraries`? That way we could potentially create a package which would allow one to bring in and use the JS Admin theme without the custom `drupa-amin-ui-d

[2018-09-13 00:02] anandtoshniwal opened #462 "Console erorrs on taxonomy page"
![screen shot 2018-09-13 at 5 17 14 am](https://user-images.githubusercontent.com/15143023/45459083-54848500-b714-11e8-948d-bc69dac6dbe6.png)

[2018-09-13 00:04] anandtoshniwal commented on #462
@dawehner started working on this, will Raise PR soon

[2018-09-13 10:49] mattgrill opened #464 "Taxonomy Vocabulary page is missing some elements."

[2018-09-13 10:56] mattgrill opened #466 "Create a Taxonomy Term overview component."

[2018-09-13 12:02] dawehner commented on #462
Thank you for fixing this problem @anandtoshniwal

[2018-09-13 12:02] #462 closed

[2018-09-13 12:28] mattgrill opened #467 "Create the ability to page between lists of taxonomy terms."

[2018-09-13 12:41] anandtoshniwal opened #468 "Add vocabulary button missing on taxonomy page"

[2018-09-13 12:42] anandtoshniwal commented on #468
@mattgrill working on it, will Raise the PR soon.

[2018-09-13 17:46] anandtoshniwal opened #470 "Provide Add term button to taxonomy overview page"
![screen shot 2018-09-13 at 10 54 49 pm](https://user-images.githubusercontent.com/15143023/45504683-294b7580-b7a8-11e8-8114-cad865101538.png)

[2018-09-13 17:46] anandtoshniwal commented on #470
@mattgrill , working on this will raise PR soon

[2018-09-13 18:54] anandtoshniwal opened #472 "Broken taxonomy term action links"
Steps to reproduce the issue

Go to taxonomy term overview page from the actions click on anyone link you will be represented with page not found.

Instead of passing tid passed vid to the function which is undefined.

please check the generated URL in the following screenshot
![screen shot 2018-09-14 at 12 22 46 am](https://user-images.githubusercontent.com/15143023/45509150-5bfb6b00-b7b4-11e8-88

[2018-09-14 08:19] anandtoshniwal opened #474 "Add Input label for actions and console errors"
Add Input label for actions on taxonomy and taxonomy term overview page
console errors on taxonomy term overview page
Please check the screenshots below
![screen shot 2018-09-14 at 12 34 12 pm](https://user-images.githubusercontent.com/15143023/45538442-b7fdd800-b824-11e8-9407-5e07ed277073.png)
![screen shot 2018-09-14 at 12 35 09 pm](https://user-images.githubusercontent.com/15143023/45538455-c48

[2018-09-14 08:35] mspae opened #476 "Decide on API for including third party JS libraries"
Contrib modules should be able to build their own backend config pages in addition to extending existing config pages. They should be able to define their dependencies so they can be used as (modern) JS developers are used to with import or require statements.

However, we don’t want to add a dependency for node and this limits our ability to use modern build tools somewhat. Contrib module develop

[2018-09-14 08:39] dawehner commented on #476
Instead of deciding for an API first u would suggest to see first how/whether it is possible to not require node / skip a build step. Once we know whether it is possible or not, we can much better talk about an api

[2018-09-14 10:32] jeevanbhushetty opened #477 "Adding unit tests for MessageSave.js and InlineMessage.js"

[2018-09-14 11:46] vishalchandna1 opened #479 "404 Error in API - /entity-schema/node/:id"
1. Go to Edit button on content page
2. A 404 error occurs.

<img width="1215" alt="screen shot 2018-09-14 at 5 12 14 pm" src="https://user-images.githubusercontent.com/13252288/45548349-aaa31680-b841-11e8-8c6c-4d1a9b21402e.png">

[2018-09-14 11:59] dawehner commented on #479
You need to update the module, our ```admin_ui_support``` module was adapted in the meantime.

[2018-09-14 11:59] #479 closed

[2018-09-14 12:02] #472 closed

[2018-09-14 12:06] mspae commented on #476
So you're saying: Let's investigate if it is at all possible before deciding on an API? If so then I totally agree. The title sounds maybe too specific. What I mean is: Find out what options we have, discuss, present, document and then at some point decide with which we go.

[2018-09-14 12:09] dawehner opened #480 "Adding more items requires two clicks"
## Steps to reproduce

* Install the app
* Create a new recipe
* Click on "Add another item", nothing happens
* Click again, a new item is added

If you want to work on it, maybe contact @VD39 given they have implemented this piece of functionality.

[2018-09-14 12:13] dawehner commented on #476
@mspae Yeah indeed

Do you want to explore the space of not requiring node? I know some other members of the admin UI initiative would like to experiment with the assumption of having node installed, and then see what level of extension points we can add.

[2018-09-14 12:15] mspae commented on #476
Yes, will do 👍 and share my results here.

[2018-09-14 12:17] #456 closed

[2018-09-14 13:14] dawehner commented on #470
Thank you!

[2018-09-14 13:14] #470 closed

[2018-09-14 13:35] vishalchandna1 commented on #480
Working on it.

[2018-09-14 19:36] anandtoshniwal commented on #467
Working on it.

[2018-09-15 15:12] vishalchandna1 opened #484 "PropTypes Issue on NodeForm"
![untitled](https://user-images.githubusercontent.com/13252288/45609079-fd641480-ba73-11e8-9b29-15390104d8af.png)

[2018-09-15 15:12] vishalchandna1 commented on #484
Working on it.

[2018-09-16 19:41] #374 closed

[2018-09-17 07:01] vishalchandna1 opened #486 "In case of no values, field_ingredients must be an empty array instead of a null"
<img width="701" alt="screen shot 2018-09-17 at 12 27 58 pm" src="https://user-images.githubusercontent.com/13252288/45609431-9b0c1380-ba75-11e8-8410-2caad8d74263.png">
![untitled-1](https://user-images.githubusercontent.com/13252288/45609432-9ba4aa00-ba75-11e8-9425-721a058bd157.png)

[2018-09-17 08:44] mattgrill opened #487 "Nightwatch Tests Failures"
Sometimes `/node/9/edit` is not `Super easy vegetarian pasta bake`

[2018-09-17 09:58] mspae commented on #476
### Using composer to install NPM packages, use Libraries API to require them, include them with Libraries API or dynamically with ES6 imports (using the Libraries API to expose their file paths)

Dependencies are resolved with the Drupal libraries API (script tags in order of requirement) or dynamically (see step 5.) – The bundling everything together approach is replaced by parallel loading capa

[2018-09-17 10:32] rahulsavaria commented on #486
I will work on the issue

[2018-09-18 02:14] mglaman commented on #476
:D https://www.drupal.org/project/http2_server_push Wim Leers is on it (been on it.)

Uber nit, but the current practice is `/libraries` of the Drupal root.

Could we use core's libraries.yml instead of the Libraries module? Perhaps by adding some additional flag on our own? Like if the license key is provided. See http://cgit.drupalcode.org/dropzonejs/tree/dropzonejs.libraries.yml

I looked at \D

[2018-09-20 12:56] jeevanbhushetty opened #490 "Create NightWatch Test for Taxonomy Page"

[2018-09-22 12:49] dawehner opened #492 "Remove "Demo of vfancy falling back to Drupal for an unknown route" from README"
I think this link is  no longer helpful especially given it is the first link in the readme.
Given that I would propose to drop it.

[2018-09-22 13:03] alexburrows opened #493 "Ignores admin ui when clicking edit tab."
When on a node and you click on edit it takes you to the default Drupal core edit page. This should route you to the drupal admin ui version.

[2018-09-22 14:30] alexburrows opened #495 "NIghtwatch tests failing due to content_moderation"
When running tests via `yarn test` the first set of tests pass, but upon creating content tests fail.
See here - https://circleci.com/gh/jsdrupal/drupal-admin-ui/6617?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Patch **remove-umami-workflows-dependency.patch** needs to be rerolled to resolve this and ensure content_moderation is not enabled in any way.

[2018-09-24 15:11] mattgrill commented on #495
The patch is supplied from the demo repo. I've rerolled it here, https://github.com/jsdrupal/drupal-admin-ui-demo/pull/38

[2018-09-24 15:16] mattgrill commented on #495
Alright. This should be fixed. Thanks!

[2018-09-24 15:16] #495 closed

[2018-09-24 15:17] mattgrill commented on #487
Fixed!

[2018-09-24 15:17] #487 closed

[2018-09-24 16:45] dawehner opened #497 "Epic: Component library"
One of the goals for the admin UI inititaive is to provide a reusable component library for react so people can provide some custom apps with the same look and feel

## Designs

TODO

## Implementatioin

TODO

## Components

- [ ] Component A issue
- [ ] Component Bb issue

[2018-09-24 16:58] dawehner commented on #424
It is done and was great

[2018-09-24 16:58] #424 closed

[2018-09-25 04:41] vijaycs85 opened #498 "Update README with installation details"
###  Problem
Not sure if it's just me, but when I follow the [development instructions](https://github.com/jsdrupal/drupal-admin-ui#developing), `composer devify` did not create `drupal-admin-ui/build` directory. However, the command did not fail either.  Created broken symlink `docroot/vfancy`.

[code]

### Solution:
Running `yarn build` explicitly fixed the symlink and works with switching as we

[2018-10-10 09:03] martinfrances107 opened #502 "Upgrade jest-junit"
Followup to #501

just executing the following line a fixing up the test failures.

yarn upgrade   jest-junit --latest

Jest-junit is two major version numbers behind 3.7 -> 5.2

when I run

yarn test

I see lots of deprecation warnings from #501 regarding material-ui's ( all typography related )

I am not sure if this is because updating junit has made it more verbose or what...

[code]

In any e

[2018-10-10 10:43] martinfrances107 commented on #502
OK it seems the deprecation warning will have to be dealt with by upgrading other components

and the test failures I can recreate on a clean checkout  so I am just going to post the changes due to one command

yarn upgrade jest-junit --latest

[2018-10-18 10:13] martinfrances107 commented on #458
Coming back to looking at this after a little break..

My original drive was to clear a critical accessibility bug. [ "critical" as seen by running "REACT_APP_AXE=true yarn start" and looking at the console logs.]

A) The structure as I see it today does not have the accessibility concerns that warrant adjusting the HTML structure. So I am just going to leave well alone

B) The select all checkbox

[2018-10-18 10:53] martinfrances107 commented on #327
The way to fix this involves making decision about the css grid layout or using flex...

My way of rephrasing @lauriii is that this is best left for another theme/layout initiative - which is will happily participate --

[2018-10-18 10:53] #327 closed

[2018-10-18 13:00] martinfrances107 commented on #458
Thanks for the merge.

[2018-10-18 13:00] #458 closed

[2018-10-19 12:06] martinfrances107 commented on #247
Sorry for the delayed response

So the original problem :-

in the updated version event.dataTransfer.files is blindly passed to the function readFiles() where it hits this code.

[code]

when files is null javascript will throw this exception

So the fix appears simple -- add an "if" here and message the user that the transfer failed.

[code]

So that is the analysis part ... I will generate a PR

[2018-10-20 15:28] martinfrances107 commented on #247
Just going back to the HTML5 spec.

https://www.w3.org/TR/2011/WD-html5-20110113/dnd.html#the-datatransfer-interface

Looking at the algorithm for constructing the FileList to be associated with event.dataTransfer.files

the first step is start with a empty list.... in short null in this position  is a polyfill for older browsers

Here is the relevant section

[2018-10-20 15:28] #247 closed

[2018-10-22 07:45] martinfrances107 commented on #420
Just a bit of housekeeping - I think this issue can be closed.

[2018-10-22 09:17] martinfrances107 opened #506 "NumberTextField: Mishandled unsigned property"
The storybook entry for NumberTextField is currently broken.

Here is the error message

The bug is :-

A missing / unrecognised dependancy. In short we need a valid  propType and sensible default pair for

NumberTextField.inputProps.unsinged

I am creating a PR now.

[2018-10-22 10:16] martinfrances107 commented on #506
Hmm I cannot justify the use of **unsigned** here

It looks like unsigned is not a valid property of either

A) the material-ui/core/input object

 or

B)  the underlying html input element.

I maybe wrong about this ... but with the PR storybook now works.

[2018-10-22 17:06] justafish commented on #64
CRA 2.0, which we've now upgraded to, supports TypeScript! We discussed this during the #javascript meeting today and myself, @lauriii, and @martinfrances107 were in favour of moving to using it.
I think a good start would be a PR to enable this support and convert one of the simpler components.
https://github.com/facebook/create-react-app/blob/master/docusaurus/docs/adding-typescript.md

[2018-10-23 06:18] martinfrances107 commented on #64
I am playing around with this in the background

just making notes about the conversion

so we must start using this code pattern

import * as React from 'react';
import * as ReactDOM from 'react-dom';

https://levelup.gitconnected.com/typescript-and-react-using-create-react-app-a-step-by-step-guide-to-setting-up-your-first-app-6deda70843a4

[2018-10-23 09:21] dawehner commented on #506
Thank you @martinfrances107 !

[2018-10-23 09:21] #506 closed

[2018-10-23 09:50] martinfrances107 commented on #64
There are ways of doing it today, but yes I think that to wait a little maybe the better option.

Just to discuss what the conversion may involve

https://medium.com/@amcdnl/react-typescript-%EF%B8%8F-647aa7d054a9

There are for example perl scripts, cobbled together online which can be used to automate the adjustment of say for example the import changes I talked about earlier.

[code]

[2018-10-23 11:31] martinfrances107 commented on #490
October ... that classic moment for spring cleaning. Well sweeping leaves, and closing completed issues.

[2018-10-23 12:26] martinfrances107 opened #508 "Message() convert div into a text bearing element"
InlineMessages.js

The following code  needs a little refactor

div is a logical container for other html elements
There are on 2 only text bearing elements in HTML SPAN and P

If I remember the css/html books I read a decade ago what happens under the hood is comical

`<div>The little house on the prairie</div>`

each white spaced element gets converted into its own html element -- so this is the

[2018-10-25 08:53] martinfrances107 commented on #64
Just playing around with this in the background....

Looking at app.jsx and the error messages that occur when I convert into app.tsx ( typescript )

appending of the "option" object to the "jss" object after creation triggers errors

This code snippet from https://material-ui.com/customization/css-in-js/
shows the conversion

[code]

[2018-10-25 12:02] martinfrances107 commented on #64
Just documenting a issue

We are going to have to do this, as some packages have not yet completed the typescript definitions.

[code]

here is the addon-jsx module pending issue.

https://github.com/storybooks/addon-jsx/issues/36

[2018-10-26 13:27] lauriii opened #510 "Epic: Extension points"
Explore how the Drupal module system can inject changes into the React Admin UI, and after that, explore some specific APIs, such as Field Widgets, and provide prototypes for those.

For more details, see:
https://docs.google.com/document/d/1U1O4VK0CKbz--aPD5o4WvbQJ6Ss0_T8EX3xntbGdwVo/edit#

[2018-10-26 16:37] martinfrances107 commented on #64
So this is a architecture comment

There are no plans within react-rte to provide a typescript types file :)

https://github.com/sstur/react-rte/issues/105

I am close to finishing a first cut of the typescript conversion ....just for giggles here are the npm packages pulled into devDependencies so far.

Most of our external modules are well supported
[code]

[2018-10-26 17:49] mattgrill commented on #510
Lets close this and continue the discussion in the existing issue.

[2018-10-26 17:49] #510 closed

[2018-10-26 17:50] mattgrill commented on #476
@lauriii

Explore how the Drupal module system can inject changes into the React Admin UI, and after that, explore some specific APIs, such as Field Widgets, and provide prototypes for those.

For more details, see:
docs.google.com/document/d/1U1O4VK0CKbz--aPD5o4WvbQJ6Ss0_T8EX3xntbGdwVo/edit#

[2018-10-26 17:52] mattgrill commented on #490
Looks like this can be closed?

[2018-10-26 17:52] #490 closed

[2018-10-26 17:53] mattgrill commented on #498
@vijaycs85 Could you provide some more information about your environment and the steps you took prior to running `devify`?

[2018-10-26 18:02] dawehner commented on #65
We've  added storybook; yeah!

[2018-10-26 18:02] #65 closed

[2018-10-26 18:12] #83 closed

[2018-10-26 18:15] dawehner commented on #158
We've implemented all the basic widgets. Thank you for everyone involved!

[2018-10-26 18:15] #158 closed

[2018-10-26 18:16] dawehner commented on #286
How about us documenting: "The roadmap of the admin_ui_support module is: Let's add everything we need".

[2018-10-26 19:45] dawehner commented on #460
Hi Adam.

The way how we plan this application to work is not to embed it into an existing Drupal site. It is  designed to be fully decoupled.

Yeah indeed. Our solution with the vfancy folder, certainly not the best name, allows us to solve this hard problem.

[2018-10-27 00:19] justafish commented on #460
To elaborate a little - the vfancy folder exists underneath docroot because it's all served directly from the webserver instead of via Drupal. We rewrite the address in the browser with the History API to make it look like it's under `/admin`.

[2018-10-27 00:19] #460 closed

[2018-10-27 18:42] dawehner commented on #476
# Experiment: Dynamically include widgets without extra build step

https://github.com/dawehner/drupal-admin-ui/tree/experiment-bundliing

Given the assumption we can’t have an extra build step when you install a module we experimented with the following idea

- Modules specify their components in the `.admin_ui.components.yml` file, see above
- Module authors will build their component JS files u

[2018-10-27 18:44] larowlan commented on #476
:muscle:

On Sun, Oct 28, 2018, 4:42 AM Daniel Wehner <notifications@github.com>
wrote:

[2018-10-27 18:59] dawehner commented on #476
We've added a PR in https://github.com/jsdrupal/drupal-admin-ui/pull/517

[2018-10-27 19:38] martinfrances107 commented on #64
Sorry for the distraction

What I said above about a lack of typescript package for react-tre

also applied to interweave.. so AddContent.tsx will get this change

+// @ts-ignore
 import { Markup } from 'interweave';

[2018-10-29 08:52] lauriii commented on #476
I would make an argument that only a handful of modules depend on external dependencies for creating their admin UI.

Why do we have to do that?

I'm curious if you looked into the alternative approach of requiring build step for installing modules. Do we know what are the main benefits of that approach and should we still be looking into that?

[2018-10-29 13:56] dawehner commented on #476
Well that's true, but we need to make sure that we don't ship with several versions of react and react-dom, given they are incompatible.

We haven't had a chance to look into that one, especially given that product seems really disappointed by us wanting to introduce this direction. I personally think adding a build step at ```composer require``` time, would result into an overall better user expe

[2018-10-30 10:47] martinfrances107 opened #518 "Permission:handleKeyPress() is mis-applied."
As a side project I have been converting this project to typescript

It is leading to a unreviable mega patch, which I hope to slowly break up and create issues here.
I want an initial  "convert all the files at once" version because it is important to see how the thing hangs together just to get a sense I am making the correct choices while converting. ( I have the almost complete mega patch in a

[2018-10-31 21:35] martinfrances107 commented on #484
Just a little housekeeping ... I think this can be closed.

[2018-11-01 07:51] #484 closed

[2018-11-01 14:44] martinfrances107 commented on #477
Just a little housekeeping, I think this issue can be closed.

[2018-11-02 21:53] martinfrances107 opened #519 "react-axe: Bump version"
Currently we are on 3.0.1 ... 3.0.2 is available

I will get to this shortly.

[2018-11-02 22:11] martinfrances107 opened #520 "Provide keys where possible"
I am currently working on a initial "rough" cut conversion of this project to typescript.

It is a different ecosystem both  in terms a compilation and linting errors.

It is raising lots of little bugs and nagging issues.-- which I am using to create small focused issues which I am act on now.

As say App.js becomes App.ts .. rules concerning keys for .map() function that generate ReactElements a

[2018-11-03 14:33] #492 closed

[2018-11-03 14:43] gbamparop commented on #385
@lauriii could you please let us know where did you find the issue? A screenshot would definitely help. Thanks

[2018-11-03 15:46] #385 closed

[2018-11-03 15:46] #420 closed

[2018-11-03 23:13] martinfrances107 commented on #64
So my first rough cut typescript branch is showing signs of life.

I wanted a rough cut where all the files are converted at once ...just so all the function parameter definitions and new interfaces  interlock and start to hang together as a whole.

Later I can start to ask architectural questions with a view to moving and refining all the interfaces I have defined. The mega patch is unreviewable

[2018-11-04 15:29] martinfrances107 opened #522 "Permission: "disabled" must be a boolean"
This is a very minor type checking issue picked up as I convert this project to typescript and moved to a stricter linting tool

Regarding the matierial-ui JSX element  "INPUT" as distinct from the HTML input element.

The property "disabled" is strictly  boolean, as per the documentation
https://material-ui.com/api/input/

so

\< input disabled="disabled" \> `

is a none-empty string which  alway

[2018-11-04 19:26] martinfrances107 opened #525 "Patches need a reroll."
1) When I try to follow the install steps in the README.md

A) composer create-project jsdrupal/drupal-admin-ui-demo -s dev --prefer-dist
B) cd drupal-admin-ui-demo
C) composer setup

With the latest version of composer the option "dev" is redundant. (A) yields

So I am going to change that.

2) Also the patches need a reroll.

[2018-11-05 07:28] lauriii commented on #385
I think this is outdated indeed. I think we are using `mapContentTypeToName` at least fairly consistently now. If there are specific instances where this is not the case, we should open separate issues for that.

[2018-11-05 10:39] martinfrances107 opened #527 "Api.js - Fix restoreState() storedState - type confusion"
This is just a minor  type checking issue thrown up while I try and convert this issue to typescript

the variable **storedState** local to the method restoreState() is being used for 2 completely different purposes.

A) The **string** variable  input to a parse call
B) The **object** variable,  the output of the parse call.

This is what I want the parse statement to look like

storedState = JSON

[2018-11-05 19:33] martinfrances107 commented on #525
I have created a PR for the other module, here

https://github.com/jsdrupal/drupal-admin-ui-demo/pull/40

[2018-11-05 19:58] martinfrances107 commented on #522
Thanks for the reviews and alteration.

[2018-11-05 19:58] #522 closed

[2018-11-06 15:10] martinfrances107 opened #530 "Consistent use of D8.7"
When setting up the project we should pull in D8.7  everywhere.

At the moment we have a mix of 8.7 and 8.6

It is a one line patch. PR comming.

[2018-11-06 17:22] martinfrances107 commented on #530
Thank you!

[2018-11-06 17:22] #530 closed

[2018-11-06 18:06] martinfrances107 commented on #525
That recent merge transformed the error messages.

I think a clean way forward is to close this issue and open a new one based on new concerns.

[2018-11-06 18:06] #525 closed

[2018-11-06 18:28] martinfrances107 opened #532 "Installation fail."
I have just cleared away my drupal-admin-ui  directory structure and am having trouble reinstalling

after  composer clear-cache

I follow the readme  with this command and here is the resulting error messages.

[code]

[2018-11-07 14:14] martinfrances107 commented on #532
Just looking at this.... in the cold light of day.

I can make progress here if I : -

rm composer.lock
composer setup

Then I get these error messages

effectively saying that patches in drupal/schema are out of sync.

[code]

[2018-11-07 23:10] martinfrances107 commented on #527
Thank you.

[2018-11-07 23:10] #527 closed

[2018-11-07 23:37] martinfrances107 opened #533 "Make MessageSeverity constants an ENUM"
The typescript rough cut PR( #526)  is being broken up for parts and spares.

One issue, where typescript is not a factor : -

The collection of constants in message.js should be gathered up into a ENUM.

It was almost fixed in a single commit with the typescript branch ... so it should be a relatively easy to merge into master.

-export const MESSAGE_SEVERITY_ERROR = 'MESSAGE_SEVERITY_ERROR';
-ex

[2018-11-08 00:48] dawehner commented on #533
This looks like a perfect step. It is not not longer possible to provide an invalid error, no matter what you try to do.

[2018-11-08 11:54] martinfrances107 commented on #533
Just to moderate what I say ENUM is a typescript only thing.

But I am looking for a simple starter issue where we plumb in the tsconfig.json, get basic typescript transpiling working for a subset of the files in out project

So that is the direction I am headed in.

[2018-11-08 14:00] maverickdude commented on #532
I'm getting the same error while installation.

[2018-11-11 20:19] #519 closed

[2018-11-11 21:03] martinfrances107 opened #539 "Linting: Check ts and tsx files."
We are dipping our toes  into typescript ... which makes me happy.

I just want to iron out a little kink.

yarn run test:lint

after inspecting

 reports/eslint-junit.xml

It is clear that only js files are inspected, even if  ts files are present

I am going to cut and paste the relevant config from the typescript branch and make a PR.

[2018-11-11 21:51] dawehner commented on #539
Thank you!

[2018-11-12 14:46] martinfrances107 commented on #539
I am posting early,

I just want to create a incomplete PR just so some of the refinements that come later are obvious in the review process.

Things like single-quote and double-quote issues MAYBE should be autofixable.

[2018-11-12 16:16] martinfrances107 commented on #539
I am trying to move the project in a positive direction, but what I am doing maybe controversial -- so I best highlight it ( see B)

A) I have moved tsconfig.json and tslint.json up into the top level directory ... so it acts on every project just like .eslintrc.json did.

B) This is the controversial bit, because I extend "js:recommeded" see tslint.json
we pick up a few rules which spew out lots

[2018-11-12 18:41] martinfrances107 commented on #539
OK I will sleep on it...  small changes are always good.

[2018-11-13 02:44] greenkeeper[bot] opened #543 "An in-range update of react is breaking the build 🚨"
## There have been updates to the *react* monorepo:

 + - The `dependency` [react](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `dependency` [react-dom](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.
- The `devDependency` [react-test-renderer](https://github.com/facebook/react) was updated from `16.6.1` to `16.6.2`.

🚨 [View failing bra

[2018-11-13 17:04] greenkeeper[bot] opened #545 "An in-range update of @types/react is breaking the build 🚨"
## The dependency [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `16.7.3` to `16.7.4`.

🚨 [View failing branch](https://github.com/jsdrupal/drupal-admin-ui/compare/master...jsdrupal:greenkeeper%2Fdefault%2F%40types%2Freact-16.7.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/

[2018-11-16 12:56] martinfrances107 commented on #532
@justafish, @dawehner

Thank you both ... it is good to see some of the patching going away.

While the package managers are still on old broken code. I can confirm that the recent-ish merges have fixed the issue.

[2018-11-16 17:03] lauriii opened #546 "Storybook is broken"
Storybook seems to be currently broken. It seems like there's multiple PR's that has caused the regression.

We have to move `.storybook` folder into the package folder (https://github.com/jsdrupal/drupal-admin-ui/pull/516) and we have to make the storybook config support TypeScript (https://github.com/jsdrupal/drupal-admin-ui/pull/537)

[2018-11-16 19:20] martinfrances107 commented on #546
I can confirm this bug.... I will take a look at this tomorrow

I think .storybook does needs to be copied from the root directory
down into

packages/admin-ui

After that

yarn workspace admin-ui storybook

does not completely work.. but this time the server starts ..  it needs further work

here is the next stacktrace

`    ReferenceError: exports is not defined
    at Module../src/components/02

[2018-11-17 12:46] martinfrances107 commented on #546
I am just posting an initial version....

Here is a comment which points out where the error is and what I don't understand

"exports is coming from commonJS"

https://stackoverflow.com/questions/43042889/typescript-referenceerror-exports-is-not-defined

[2018-11-18 12:58] martinfrances107 commented on #546
This is the first unmet dependency we have

So I am picking out quotes from a relevant open storybook issue.

https://github.com/storybooks/storybook/issues/4764

I think the solution of this will have to wait.

[2018-11-18 14:58] martinfrances107 commented on #546
I am going to link a second isolated PR to this main issue.

All I said above can be wiped away from consideration by resolving our unmet dependencies.

This pull request is the result of running

yarn add storybook --dev

in ./packages/admin-ui

It does not change the storybook errors. but it does put back our little project on firm ground.

[2018-11-19 11:04] #543 closed

[2018-11-19 11:06] justafish commented on #545
According to https://basarat.gitbooks.io/typescript/docs/errors/common-errors.html this is because we have two react.d.ts in the compilation context.

[2018-11-19 17:13] dawehner opened #549 "Is calling window.define multiple times a problem?"
## Problem
@mattgrill asked whether calling window.define multiple times, see https://github.com/jsdrupal/drupal-admin-ui/pull/517#discussion_r228762129 is a problem

## Solution
Figure out out by providing multiple widgets.

[2018-11-19 17:30] dawehner opened #550 "Add require.js coming from NPM"
Right now https://github.com/jsdrupal/drupal-admin-ui/pull/517#discussion_r228762129 adds require.js directly into the HTML instead of going through NPM/yarn

Let's add require.js properly

[2018-11-19 18:42] mattgrill commented on #550
@dawehner Do you think this should block #517 ?

[2018-11-19 18:59] dawehner commented on #550
Nope

On Mon, 19 Nov 2018, 18:42 Matthew Grill, <notifications@github.com> wrote:

[2018-11-19 19:45] martinfrances107 commented on #539
After a little nudge from justafish

I am dropping the old PR -- instead of the pulling in tslint packages, it is simpler to get eslint to parse .ts and .tsx files.

just to be clear, one little non-obvious kink is that .eslintrc files cannot as yet be configured to parse typescript files instead it MUST be specified on the command line

Also to smooth the review I am breaking the PR into two stag

[2018-11-19 20:02] mattgrill commented on #550
I wanted to take a quick look at this issue. Having `require.js` included directly in the HTML template is not ideal.

I looked at the [requirejs package](https://www.npmjs.com/package/requirejs) from npm. This confusingly provides a cli tool for node, and the browser bundle which is troublesome to require.

I moved the browser bundle to `src/vendor/requirejs` and did the following in `EnsureCompo

[2018-11-20 12:07] martinfrances107 opened #552 "Move from es5 to es6 to support ENUMs and MAPs."
We have a series of micro issue all related to getting typescript working. Which I am going to stitch into a story before I point out the next problem.

Here is a description of what we have so far.

#533 Make MessageSeverity constants a ENUM

is trying to convert a small aspect of the design to typescript

BUT

#548 removes the unmet dependency issue which were getting in the way for me actually

[2018-11-20 16:07] martinfrances107 commented on #552
The next  PR does three simple things

A) yarn remove react-scripts
B) yarn add react-scripts-ts
C) adjusted nightwatch.conf.js

[2018-11-20 21:07] martinfrances107 commented on #552
Above when I said

The best way to resolve this and start supporting developments to the language like ENUM
is to move from es5 to es6

Here is a quote from the eslint documentation showing that the current default is es5

https://eslint.org/docs/2.0.0/user-guide/configuring

PR is comming.

[2018-11-21 10:46] martinfrances107 commented on #539
justfish, lauriii, dawehner

Thank you all for your input.... it is much appreciated.

[2018-11-21 10:46] #539 closed

[2018-11-21 10:58] martinfrances107 commented on #545
is this issue out of date?

When I adjust my  @types/react to be 16.7.6 and pull in the update.. I see a single react.d.ts

[code]

[2018-11-21 11:46] martinfrances107 commented on #190
Thank you.  I think this issue has served its purpose....

We have the ability to lint and compile typescript in the master branch

So just a little housekeeping ... I think this issue can be closed.

[2018-11-21 11:48] dawehner commented on #190
Indeed :)

[2018-11-21 11:48] #190 closed

[2018-11-21 17:01] martinfrances107 commented on #552
I have been thinking about this PR... and I can see a mistake I made.

I think maybe two PR should be merged into one...

A) #533 has outstanding issues involving ENUMS which are solved by this PR.

similarly

B) This issue (#552)  needs an example of ENUM and MAP to verify PR is a good idea.

If a reviewer wants it... I will smoosh these two together... I will just saying...

[2018-11-22 09:23] martinfrances107 commented on #552
Thank you. ❤️

[2018-11-22 09:23] #552 closed

[2018-11-22 20:09] martinfrances107 opened #555 "JSX elements are not being linted fully"
This maybe a deliberate design choice that I am ignorant of

BUT

we are getting compile errors in relation to storybook when we have JSX elements inside js files
[ that is being fixed here #554 as part of #546 ]

This issue is separate I just want clearance to lock this down so that all files using JSX elements have the extension jsx or tsx.

[2018-11-22 23:30] dawehner commented on #555
It looks like there is a disagreement between airbnb and people working on react itself, see https://github.com/facebook/create-react-app/issues/87#issuecomment-234627904

Personally I think I agree with @gaeron's perspective.

[2018-11-22 23:35] #466 closed

[2018-11-22 23:35] #435 closed

[2018-11-22 23:36] dawehner commented on #435
This got implemented

[2018-11-22 23:36] dawehner commented on #432
I think we are fine with the current state of things :)

[2018-11-22 23:36] #432 closed

[2018-11-22 23:39] dawehner commented on #317
@progga Seems reasonable :)

[2018-11-22 23:41] dawehner commented on #493
Yeah, this is resolved now

[2018-11-22 23:41] #493 closed

[2018-11-22 23:45] dawehner commented on #550
Maybe an alternative idea. We could provide our own requirejs build and push that to `@drupal/requirejs` and then include it as every other package.

[2018-11-22 23:47] dawehner commented on #474
The PR for this got merged. Thanks a lot for your contributions!

[2018-11-22 23:47] #474 closed

[2018-11-22 23:47] dawehner commented on #502
We no longer need these manual update issues, yeah!

[2018-11-22 23:47] #502 closed

[2018-11-22 23:49] dawehner commented on #232
This sounds like an amazing idea! I'm wondering whether this would also be a way to communicate with people create a PR that they should join `#javascript` to communicate with other people being involved.

[2018-11-22 23:56] #378 closed

[2018-11-22 23:57] dawehner commented on #109
@martinfrances107 How do you feel our currrent strategy worked out so far? Do you think we could improve?

[2018-11-22 23:59] dawehner commented on #14
I think its fine to summarize that the various discussions we had resulted us in having extension points , but not in a themability way. When people need to dramatically adapt the appearance we'll recommend them to work the app and  reuse our components partially.